@use '../../scss/' as *;


.movie-card {
  cursor: pointer;
  display: inline-block;
  width: 95%;
  
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 130%;
    //height: 330px;
    //margin: .2rem;
    border-radius: 20px;
    transition: all .5s ease-in-out;
    
    //transition: padding .5s ease-in-out;
    
    .inCinema{
        display: flex;
        align-items: center;
        position: absolute;
        top: 1px;
       // z-index: 1001;
        right: 1px;
        background-color: rgba(33, 19, 22, 0.662);
        padding:  8px;
        border-radius: 0px 20px 0px 10px;
        font-size: 10px;
        font-weight: 300;
        //color: white;
    }
    .catz{
      display: flex;
      position: absolute;
      bottom: 20px;
      left: 0;
      //z-index: 100;
      color: rgb(255, 255, 255);
      background-color: rgba(0, 0, 0, 0.45);
      //backdrop-filter: blur(20px);
      padding: 4px 8px;
      //border: 1.2px solid rgb(25, 25, 25);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      font-size: 9px;
      font-weight: 300;
      border-left: 1px solid rgba(255, 3, 32, 0.858);
        
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 1;
      
      border-radius: 20px;
      transition: opacity 1s ease;
       font-size: small;
    border-radius: 10px;
    font-weight: 200;
    color: rgba(233, 233, 233, 0.842);
     //@include overlay;
  
  }
    
    @media (hover:hover) {

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 1;
            transition: opacity 1s ease;
           // border: 2px solid $main-bg;
           border-radius: 20px;
        
        }
        .btnz{
            transform: translate(-20%, -20%) scale(0);
            //background-color: rgba(236, 66, 66, 0.877);
            display: flex;
            align-items: center;
           width: 50%;
            justify-content: center;
            height: 50%;
            scale: 1.4;
           // width: auto;
            color: white;
            //border-radius: 7px;
            transition: all .3s ease-in-out;
        }

        &:hover::before{
            background-image: linear-gradient(180deg, transparent ,$body-bg 100%);
            padding-top: 2rem;
            opacity: 1;
            border-radius: 20px;
            //backdrop-filter: blur(10px);
            transition: all .3s ease-in-out;
        }

        &:hover .btnz {
           // background-color: #2928280d;
           color: rgb(255, 0, 43);
            //padding: 10px;
            //width: 25%;
            //scale: 1.1;
            //border-radius: $border-radius;
            transform: translate(35%, -100%) scale(1);
            transition: all .3s ease-in-out;
        
        }

    }
}

.infomovie{
    position: absolute;
    top: 0px;
   // z-index: 100 !important;
    //background-color: #00000052;
    background-image: linear-gradient(to top, transparent ,rgba(0, 0, 0, 0.758) );
    border-radius: 17px;
    //backdrop-filter: blur(10px);
    text-align: center;
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: .2rem;
    font-size: .65rem;
    font-weight: 400;
    z-index: 1000;
    transition: all .5s ease-in-out;


    @include mobile {
        font-size: 8px;
        padding:  .5rem;
        font-weight: 300;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-align: center;
        //background-color: #1a1a1a;
        border-radius: 5px;
        padding: 10px 0;
        font-size: .70rem;
        font-weight: 300;

        @include mobile {
            font-size: 8px;
        }
    }
    .cat{
        display: flex;
        align-items: center;
        //justify-content: center;
        //background-color: #19191997;
        border: none;
       justify-content: space-between;}
}

.movie-card:hover .infomovie{
    display: flex;
    transition: all .5s ease-in-out;
}
.year{
  display: flex;
  position: absolute;
  top: 208px;
  left: 0;
  //z-index: 100;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  padding: 6px 8px;
  //border: 1.2px solid rgb(25, 25, 25);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 9px;
  font-weight: 300;
  border-left: 1px solid rgba(255, 255, 255, 0.858);
    
}

.vote{
  position: absolute;
  display: flex;
  position: absolute;
  top: 165px;
  left: 0;
  //z-index: 100;
  //color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  padding: 8px;
  //border: 1.2px solid rgb(25, 25, 25);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 9px;
  font-weight: 600;
  border-left: 1px solid rgba(121, 121, 121, 0.858);
    

  @include mobile {
    //right: 3rem;
  }

}

.titlename{
  background-color: #02020285;
  font-weight: 450;
  backdrop-filter: blur(3px);
  padding: 5px 10px;
  border-radius: 10px;
}
.savemovie{
  display: flex;
  position: absolute;
  top: 235px;
  right: 0;
  //z-index: 100;
 // color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.45);
  //backdrop-filter: blur(20px);
  padding:  8px;
  //border: 1.2px solid rgb(25, 25, 25);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 9px;
  font-weight: 300;
  border-right: 1px solid rgba(255, 3, 32, 0.858);
  transition: all .3s ease-in-out;
  &:hover{
    background-color: rgba(29, 29, 29, 0.45);
 
  }
    
}
