@use "../../scss/" as *;

.bigman{
  min-height: 100vh;
  transition: all .3s ease-in-out;
  //overflow: hidden;
  position: relative;
}
.banner {
    height: 70vh;
    position: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       // @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(127, 117, 117, 0), $black);
      // background-image: linear-gradient(90deg, $black, rgba(127, 117, 117, 0));
        
        

    }
}
.postertitle {

  position: relative;
  max-width: 35%;
  max-height: 100px;
  background-size: contain;
  @include mobile {
    width: 60%;
  height: 20%;
  }
  
}

.detail-container {
  //height: 100vh;
  margin-top: calc(100vh - 50vh);
  display: flex;
  //justify-content: space-between;
  flex-direction: row;
  

    @include tablet {
        flex-direction: column;
        margin-top: 50rem;
    }
 

  @include mobile {
     flex-direction: column;
      margin-top: 80rem;
  }

}
.movie-content {
    //backdrop-filter: blur(15px);
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0));
   
   border-radius: 5px;
    @include flex(flex-start, flex-start);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    //margin-top: -450px;
    position: relative;
    padding: 1rem  .3rem;

    

    &__info {
      backdrop-filter: blur(10px);
       // background-color: #00000040;
        border-radius: 20px;
        padding: 2rem;
        width: 99%;
        font-weight: 200;
        //padding-left: 2rem;
        position: relative;
        margin-top: 1rem;
        margin: 10px;


        @include mobile {
          border-radius: 10px;
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          //align-items: center;
           // margin-left: 10px;
            width: 100%;
            padding: 1rem;
            font-size: 15px;
        }

        & > * ~ * {
            margin-top: .2rem;
        }

        .titleholder{
          display: flex;
          flex-direction: row;
          align-items: center;

          @include mobile {
            flex-direction: column;
          }
          
        }
      
        .langu{
          padding: .5rem;
          margin-left: 1rem;
          display: flex;
          flex-direction: row;
          background-color: #ffffff0e;
          border-radius: 10px;
          @include mobile {
            margin-top: .6rem;
            padding: .4rem ;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          

         

        }

        .title {
            padding-top: 0px;
            font-weight: 600;
            
            font-size: 1.7rem;
            line-height: 1;

            @include mobile {
              justify-content: flex-start;
                //padding-top: 10px;
                font-size: 4rem;
            }
        }

        .genres {
          margin: 1rem 0;
              
            & > * ~ * {
                margin-left: .2rem;
            }

            &__item {
                background-color: #0000001b;
                padding: .5rem 1.2rem;
                border: 2px solid;
                border-radius: 15px;
                font-size: .67rem;
                font-weight: 500;
                //backdrop-filter: blur(10px);
            }

            @include mobile {
                font-size: 1.2rem;
            }
        }
        .secz{
            
            display: flex;
            justify-content: flex-start;
            align-items: center;
            //gap: 0.5rem;
            padding: 7px 5px;
            
            border-radius: 10px;
            font-size: small;
            font-weight: 300;
           
            
           @include mobile {
            
            font-size: 1rem;
           }
        
        
        }
        
        
    }

    @include tablet {
        margin-top: -300px;
       width: 100%;
       
    }

    @include mobile {
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2px;
        margin-top: -350px;
    }

}
.castdiv{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  .castdix{
    position: relative;
   
    width: 100%;
    max-height: 350px;
   background-image:linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 10px;
    //padding: 5px;
     overflow: auto;
     scrollbar-color: #1a1a1a00 #00000000;
    .casts {
      //margin-left: .5rem;
      line-height: 1;
      scrollbar-width: 10px;
      scrollbar-color: #1a1a1a78 #00000000;
  
      &__item {
        position: relative;
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        //gap: 7px;
  
          &__img {
             position: relative;
              padding: 40px;
              width: 70px;
              background-size: cover;
              background-position: center;
              border-radius: 50%;
             
             // margin-bottom: .2rem;
  
            &:hover{
              opacity: 0.5;
              
            } 
              
              
          }
          
  
          &__name {
            
              position: relative;
             // top: 10px;
              font-size: .67rem;
              text-align: center;
              color: rgba(255, 255, 255, 0.829);
              //backdrop-filter: blur(10px);
              background-color: rgba(12, 12, 12, 0.413);
              border-radius: 7px;
              //height: 35px;
              padding:  5px 10px;
              font-weight: 300;
  
          }
          &__char{
            position: relative;
            //top: 12px;
            //right: -20px;
              font-size: .65rem;
              text-align: center;
              color: rgba(255, 255, 255, 0.642);
              //backdrop-filter: blur(10px);
              background-color: rgba(12, 12, 12, 0.413);
              border-radius: 7px;
              padding: 5px 10px;
              font-weight: 300;
          }
      }
  
      @include tablet {
        display: flex;
          flex-direction: row;
        gap: 10px;
        //padding: 10px;
      }
         @include mobile {
          
          display: flex;
          flex-direction: row;
          //display: grid;
          //grid-template-columns: repeat(5, minmax(0, 1fr));
        
          
        &__item {
            gap: 3px;
          &__img {
            padding: 40px;
              width: 70px;
            background-size: cover;
            background-position: center;
            //border-radius: ;
            margin-bottom: .1rem;
            
        }
  
             font-size: .9rem;
             font-weight: 400;
  
         }
  
         }
  }

  @include tablet {
    padding: 2px;
    width: 99vw;
  }
  @include mobile{
     margin: 0 0px;
    padding: 2px;
    width: 97vw;
  }
  }
}



.video{
    margin-bottom: 2rem;

    &__title{
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}
.aligners{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    gap: 0.3rem;
}

.runtime{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    align-items: center;
    gap: 0.1rem;
    padding: 7px 7px;
    width: auto;
    background-color: rgba(21, 21, 21, 0.288);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    //border-top: 1px solid $main-bg;
   
  

}
.release-date{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    gap: 0.1rem;
    padding: 7px 5px;
    width: auto;
    background-color: rgba(21, 21, 21, 0.288);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    //border-top: 1px solid $main-bg;
   
    
}
.language{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-size: x-small;
    font-weight: 400;
    align-items: center;
    gap: 0.1rem;
    padding: 7px 7px;
    width: auto;
    
  
    @include mobile {
     font-size: .7rem;
    }
}

.rating{
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: x-small;
   text-align: center;
    font-weight: 400;
    //transform:  rotate(45deg);
    
    padding: 15px 7px;
    //width: 50%;
    background-color: rgba(255, 255, 255, 0.071);
    //border-radius: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
     
    @include mobile {
      padding: 13px 7px;
      font-size: .7rem;
     }
}
.overview{
    background-color: #060606ac;
    font-size: .7rem;
    font-weight: 100;
    padding: 10px;
    //line-height: 1;
    margin-top:0;
    text-align: start;
      
}
.overviewz{
  display: flex;
  justify-content: center;
  //background-color: #060606ac;
  font-size: .7rem;
  font-weight: 100;
  padding: 5px;
 color: #ffffff6c;
  margin-top:0;
  text-align: start;
}
.overviewx{
  //background-color: #060606ac;
  font-size: .7rem;
  font-weight: 100;
  padding: 10px;
  //line-height: 1;
  margin-top:0;
  text-align: start;
  
}
.titleoverview{
  display: flex;
  justify-content: start;
  background-color: #1818186d;
  font-size: .8rem;
  font-weight: 400;
  padding: 5px 10px;
  width: 50%;
  //line-height: 1;
  margin-top: 1rem;
 // text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, rgb(55, 0, 255), rgb(255, 0, 128)) 1;
  
}


.section-video{
    padding: 0 20px;
    z-index: 1;
    
    &__title{
        border: 2px solid white;
        font-size: 1.3rem;
        font-weight: 200;
        margin-bottom: 1rem;
    }

    
}
.buttonz{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

}
.playbtn {
 
  display: flex;
  //background-color: rgba(1, 1, 1, 0.046);
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  //scale: 1.4;
  top: 250px;
  left: 80%;
  transform: translate(-50%, -50%);
  // border-bottom: 5px solid transparent;
  transition: all .5s ease-in-out;
  @include mobile {
    top: 25px;
    //display: none;
  }
}
.playbtn:hover{
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, rgb(55, 0, 255), rgb(255, 0, 128)) 1;
  transition: all .5s ease-in-out;
}
.titledetails{
  position: relative;
  font-size: .7rem;
  font-weight: 200;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 5px;
  color: rgb(7, 7, 7);
}
.titledetailz{
  //width: 100%;
  font-size: smaller;
  text-align: center;
  margin-bottom: 0px;
  font-size: .7rem;
  //justify-content: center;
  font-weight: 200;
  padding: 5px 10px;
  background-color: rgb(0, 0, 0);
 // backdrop-filter: blur(10px);
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  color: rgba(255, 255, 255, 0.772);
}
.wrappwez{
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  background-color: #000000;
  padding: 5px;
  break-inside: avoid;
  //margin:  5px;
  columns: 5;
    
    
    @include tablet {
     columns: 4;
    
  }

  @include mobile {
    
    columns: 2;
  
  }
  
}
.choices{
  position: fixed;
  height: 100vh;
  width: 100%;
  //background-color: rgba(184, 182, 182, 0);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 70;
  backdrop-filter: blur(10px);
}
.videoframe {
  width: 70%;
  height: 70%;
  z-index: 75;
  border-radius: 20px;
  border: none;


  @include mobile {
    width: 100%;
    margin: 0 .1rem;
    height: 35%;
    border-radius: 10px;
  }
  
}
.titlechoice{
  margin-top: 1rem;
  font-size: .7rem;
  font-weight: 100;
  padding: 10px;
  line-height: 1;

  text-align: start;
  color: white;
  border-radius: 10px;
  background-color: #9999996b;

}
.one{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.butzs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
