@use "../../scss/" as *;


.banner {
    height: 50vh;
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //@include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(360deg, $body-bg, rgba(127, 117, 117, 0));
       background-image: linear-gradient(90deg, $body-bg, rgba(127, 117, 117, 0));
        
        

    }
}

.detail-container {
  //height: 100vh;
  margin-top: calc(100vh - 50vh);
  display: flex;
  //justify-content: space-between;
  flex-direction: row;
  

    @include tablet {
        flex-direction: column;
        margin-top: 30rem;
    }
 

  @include mobile {
     flex-direction: column;
      margin-top: 60rem;
  }

}
.movie-content {
    //backdrop-filter: blur(5px);
    background-color: #000000b4;
    border-radius: 10px;
    @include flex(flex-start, flex-start);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    //margin-top: -450px;
    position: relative;
    padding: 1rem  .5rem;

    

    &__info {
       backdrop-filter: blur(10px);
        background-color: #000000a9;
        border-radius: $border-radius;
        padding: 2rem;
        width: 99%;
        font-weight: 200;
        //padding-left: 2rem;
        position: relative;
        margin-top: 1rem;
        margin: 10px;


        @include mobile {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          //align-items: center;
            margin-left: 10px;
            width: 100%;
            padding-left: 2rem;
            font-size: 15px;
        }

        & > * ~ * {
            margin-top: .2rem;
        }

        .titleholder{
          display: flex;
          flex-direction: row;
          align-items: center;
          
        }

        .title {
            padding-top: 0px;
            font-weight: 600;
            
            font-size: 1.7rem;
            line-height: 1;

            @include mobile {
              justify-content: flex-start;
                //padding-top: 10px;
                font-size: 2rem;
            }
        }

        .genres {
          margin: 1rem 0;
              
            & > * ~ * {
                margin-left: .2rem;
            }

            &__item {
                background-color: #0000001b;
                padding: .5rem 1.2rem;
                border: 2px solid;
                border-radius: 15px;
                font-size: .5rem;
                font-weight: 500;
                //backdrop-filter: blur(10px);
            }

            @include mobile {
                font-size: 1.2rem;
            }
        }
        .secz{
            
            display: flex;
            justify-content: flex-start;
            align-items: center;
            //gap: 0.5rem;
            padding: 7px 5px;
            
            border-radius: 10px;
            font-size: small;
            font-weight: 300;
           
            
           @include mobile {
            
            font-size: 1rem;
           }
        
        
        }
        
        
    }

    @include tablet {
        //margin-top: -100px;
        width: 100%;
       
    }

    @include mobile {
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2px;
        margin-top: -350px;
    }

}
.castdiv{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  margin: 0 5px;
  .castdix{
    position: relative;
    
    width: 250px;
    height: 350px;
   background-image:linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.066));
    border-radius: 10px;
    padding: 10px 5px;
     overflow: auto;
     scrollbar-color: #1a1a1a00 #00000000;
    .casts {
      //background-color: #000000e0;
   
      margin-top: .2rem;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      //flex-wrap: wrap;
      width: 100%;
      overflow: auto;
      justify-content: center;
      //align-items: center;
      stroke-width: 1px;
      scrollbar-width: 10px;
      scrollbar-color: #1a1a1a78 #00000000;
   
      //align-items: center;
      //text-align: start;
      gap: 3px;
  
      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
  
          &__img {
             position: relative;
              padding: 40px;
              width: 70px;
              background-size: cover;
              background-position: center;
              border-radius: 50%;
             
              margin-bottom: .2rem;
  
            &:hover{
              opacity: 0.5;
              
            } 
              
              
          }
          
  
          &__name {
            
              position: relative;
              font-size: .65rem;
              text-align: center;
              color: rgba(255, 255, 255, 0.829);
              //backdrop-filter: blur(10px);
              background-color: rgba(255, 255, 255, 0.098);
              border-radius: 5px;
              //height: 35px;
              padding:  5px 10px;
              font-weight: 400;
  
          }
          &__char{
            position: relative;
            bottom: 2px;
            //right: -20px;
              font-size: .6rem;
              text-align: center;
              color: rgba(255, 255, 255, 0.482);
              //backdrop-filter: blur(10px);
              background-color: rgba(56, 56, 56, 0.413);
              border-radius: 10px;
              padding: 5px 10px;
              font-weight: 500;
          }
      }
         @include mobile {
          //flex-direction: row;
          
        &__item {
          &__img {
            padding: 40px;
              width: 70px;
            background-size: cover;
            background-position: center;
            //border-radius: ;
            margin-bottom: .1rem;
            
        }
  
             font-size: .9rem;
             font-weight: 400;
  
         }
  
         }
  }

  @include tablet {
    padding: 2px;
    width: 99vw;
  }
  @include mobile{
    margin: 0 0px;
    padding: 2px;
    width: 97vw;
  }
  }
}



.video{
    margin-bottom: 2rem;

    &__title{
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}
.aligners{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
}

.runtime{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    align-items: center;
    gap: 0.1rem;
    padding: 7px 7px;
    width: auto;
    background-color: rgba(21, 21, 21, 0.288);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    //border-top: 1px solid $main-bg;
   
  

}
.release-date{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    gap: 0.1rem;
    padding: 7px 5px;
    width: auto;
    background-color: rgba(21, 21, 21, 0.288);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    //border-top: 1px solid $main-bg;
   
    
}
.language{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-size: x-small;
    font-weight: 400;
    align-items: center;
    gap: 0.1rem;
    padding: 7px 7px;
    width: auto;
    
  
    @include mobile {
     font-size: .7rem;
    }
}

.rating{
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: x-small;
   text-align: center;
    font-weight: 100;
   
    
    padding: 7px;
    //width: 50%;
    background-color: rgba(14, 14, 14, 0.626);
    border-radius: 5px;
     

}
.overview{
    background-color: #060606ac;
    font-size: .7rem;
    font-weight: 100;
    padding: 10px;
    //line-height: 1;
    margin-top:0;
    text-align: start;
      
}
.overviewz{
  display: flex;
  justify-content: center;
  //background-color: #060606ac;
  font-size: .7rem;
  font-weight: 100;
  padding: 5px;
 color: #ffffff6c;
  margin-top:0;
  text-align: start;
}
.overviewx{
  //background-color: #060606ac;
  font-size: .7rem;
  font-weight: 100;
  padding: 10px;
  //line-height: 1;
  margin-top:0;
  text-align: start;
  
}
.titleoverview{
  display: flex;
  justify-content: start;
  background-color: #1818186d;
  font-size: .8rem;
  font-weight: 400;
  padding: 5px 10px;
  width: 50%;
  //line-height: 1;
  margin-top: 1rem;
 // text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, rgb(55, 0, 255), rgb(255, 0, 128)) 1;
  
}


.section-video{
    padding: 0 20px;
    z-index: 1;
    
    &__title{
        border: 2px solid white;
        font-size: 1.3rem;
        font-weight: 200;
        margin-bottom: 1rem;
    }

    
}
.buttonz{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

}
.playbtn {
 
  display: flex;
  //background-color: rgba(1, 1, 1, 0.046);
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  //scale: 1.4;
  top: 250px;
  left: 80%;
  transform: translate(-50%, -50%);
  // border-bottom: 5px solid transparent;
  transition: all .5s ease-in-out;
  @include mobile {
    top: 25px;
    //display: none;
  }
}
.playbtn:hover{
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, rgb(55, 0, 255), rgb(255, 0, 128)) 1;
  transition: all .5s ease-in-out;
}
.titledetails{
  position: relative;
  font-size: .7rem;
  font-weight: 200;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 5px;
  color: rgb(7, 7, 7);
}
.titledetailz{
  width: 100%;
  font-size: smaller;
  text-align: center;
  margin-bottom: 7px;
  //justify-content: center;
  font-weight: 200;
  padding: 5px 10px;
  background-color: rgb(252, 252, 252);
  position: relative;
  border-radius: 5px;
  color: rgb(13, 13, 13);
}
.wrappwez{
  position: relative;
  background-color: #080808c3;
  padding: 10px;
  margin:  5px;
  border-radius: 5px;
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(240px, 50%), .5fr));
    gap: 8px;
    
    
    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
    
  }

  @include mobile {
      grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
  
  }
  
}
.choices{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(184, 182, 182, 0.477);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 70;
  backdrop-filter: blur(20px);
}
.movie_iframe {
  width: 100%;
  height: 100%;
  border: none;
  
}
.titlechoice{
  margin-top: 1rem;
  font-size: .7rem;
  font-weight: 100;
  padding: 10px;
  line-height: 1;

  text-align: start;
  color: white;
  border-radius: 10px;
  background-color: #9999996b;

}
.butzs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
