@use "../../scss/" as *;


.banner {
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //@include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, $body-bg, rgba(127, 117, 117, 0));
        

    }
}
.movie-content_poste {
    &__img{
        //border: 2px solid $main-bg;
        backdrop-filter: blur(10px);
    }
}

.loaded {
    opacity: 1;
    
}
.w200 {
    opacity: 0;
  
}


.movie-content {
    //backdrop-filter: blur(5px);
    background-color: #00000063;
    border-radius: 10px;
    @include flex(flex-start, flex-start);
    max-width: 1280px;
     margin-left: auto;
    margin-right: auto;
    margin-top: -450px;
    position: relative;
    padding: 2rem ;

    &__poster {
        flex: 1;
        position: absolute;
        top: 30px;
        right: 20px;
       // z-index: 99;

        @include mobile {
            display: none;
        }

        &__img {
            width: 200px;
          
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $border-radius;
            padding-top: 155%;
            filter: drop-shadow(0 0 5px rgba(39, 39, 39, 0.164));
            
        }
    }

    &__info {
       backdrop-filter: blur(10px);
        background-color: #000000a9;
        border-radius: $border-radius;
        padding: 2rem;
        width: 75%;
        font-weight: 200;
        //padding-left: 2rem;
        position: relative;


        @include mobile {
            width: 100%;
            padding-left: .8rem;
            font-size: 15px;
        }

        & > * ~ * {
            margin-top: 1rem;
        }

        .title {
            padding-top: 20px;
            font-weight: 400;
            
            font-size: 2rem;
            line-height: 1;

            @include mobile {
                padding-top: 10px;
                font-size: 1.5rem;
            }
        }

        .genres {
            & > * ~ * {
                margin-left: .5rem;
            }

            &__item {
                background-color: #0000001b;
                padding: .5rem 1.5rem;
                border: 2.5px solid;
                border-radius: 20px;
                font-size: .7rem;
                font-weight: 500;
                //backdrop-filter: blur(10px);
            }

            @include mobile {
                font-size: 1.2rem;
            }
        }
        .secz{
            
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            padding: 7px 5px;
            
            border-radius: 10px;
            font-size: small;
            font-weight: 300;
           
            
           @include mobile {
            
            font-size: 1rem;
           }
        
        
        }
        
        
    }

    @include tablet {
        margin-top: -400px;
    }

    @include mobile {
        margin-top: -400px;
    }

}

.casts {

    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: flex-start;
    stroke-width: 1px;
    scrollbar-width: 10px;
    scrollbar-color: #1a1a1a78 #00000000;
 
    align-items: center;
    text-align: center;
    gap: 3px;

    &__item {

        &__img {
           position: relative;
            padding-top: 160px;
            width: 120px;
            background-size: cover;
            background-position: center;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            margin-bottom: .2rem;

            
              transform-origin: center;
              transition: transform 0.3s ease-in-out;
        
            
        }

        &__name {
            font-size: .6rem;
            text-align: center;
            color: rgb(211, 211, 211);
            background-color: rgb(26, 26, 26);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 5px 10px;
            font-weight: 400;
        }
        &__char{
          position: absolute;
          bottom: 0;
          right: 0;
            font-size: .6rem;
            text-align: bottom;
            color: rgb(255, 255, 255);
            background-color: rgba(6, 6, 6, 0.71);
            border-radius: 5px;
            padding: 5px;
            font-weight: 500;
        }
    }
       @include mobile {
      &__item {
        &__img {
          padding-top: 130px;
            width: 100px;
          background-size: cover;
          background-position: center;
          border-radius: 10px;
          margin-bottom: .1rem;
          
      }

           font-size: .7rem;
           font-weight: 400;

       }

       }
}

.video{
    margin-bottom: 2rem;

    &__title{
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}

.runtime{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    align-items: center;
    gap: 0.1rem;
    padding: 7px 7px;
    width: auto;
    background-color: rgba(56, 52, 52, 0.288);
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
  

}
.release-date{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    gap: 0.1rem;
    padding: 7px 5px;
    width: auto;
    background-color: rgba(56, 52, 52, 0.288);
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
   
    
}
.language{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    align-items: center;
    gap: 0.1rem;
    padding: 7px 7px;
    width: auto;
    background-color: rgba(56, 52, 52, 0.288);
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
  
}
.rating{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    align-items: center;
    gap: 0.1rem;
    padding: 7px 7px;
    width: auto;
    background-color: rgba(56, 52, 52, 0.288);
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
     

}
.overview{
    background-color: #0000007b;
    font-size: .8rem;
    font-weight: 400;
    padding: 10px;
    //line-height: 1;
    margin-top: 1rem;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    //border-bottom: 1.5px solid white;
   
}


.section-video{
    padding: 0 20px;
    
    &__title{
        border: 2px solid white;
        font-size: 1.3rem;
        font-weight: 200;
        margin-bottom: 1rem;
    }

    
}
.playbtn {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(1, 1, 1, 0.046);
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  scale: 1.4;
  top: 29%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-bottom: 5px solid transparent;
  transition: all .5s ease-in-out;
  @include mobile {
    display: none;
  }
}
.playbtn:hover{
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, rgb(55, 0, 255), rgb(255, 0, 128)) 1;
  transition: all .5s ease-in-out;
}
.titledetails{
  padding: 10px;
  background-color: rgba(11, 11, 11, 0.744);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, rgb(55, 0, 255), rgb(255, 0, 128)) 1;
  

  }

