@use "../../scss/" as *;


.player-container {

  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.906);
  position: relative;
}
.watched {
  background-color: green;
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
//backdrop-filter: blur(10px);
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  //padding:  .2rem;
  //background-color: #1414145f;
  z-index: 20;
  border-radius: 5px;
  //margin: 10px;

  @include mobile {
    background-color: #1616167f;
    backdrop-filter: blur(10px);
  }
}
.logozz{
  //border: .5px solid rgba(255, 0, 0, 0.201);
  background-color: rgba(32, 32, 32, 0.495);
    //border-radius: 10px;
   //margin-left: 20px;
   position: absolute;
   right: 8px;
   top: 37px;
   backdrop-filter: blur(10px);
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border-radius: 20px ;

    @include flex(center, flex-start);

    img {
        margin: 0 1px;
        width: 37px;

        @include mobile {
          //position: absolute;
            width: 30px;
            margin-right: 0;
        }
    }
   
    @include mobile {
      display : none;
        
    }
}

.topbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  //backdrop-filter: blur(5px);
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 .2rem;
  //background-color: #1414145f;
  z-index: 20;
  border-radius: 5px;
  //margin: 10px;
}
.navi{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.167);
  backdrop-filter: blur(10px);
  padding: 8px;
  cursor: pointer;
  margin:  2px;
  font-size: .85rem;
  font-weight: 400;
  color: rgb(209, 208, 208);
  border-radius: 15px ;
  opacity: .5;
}
.navih{
  
  background-color: rgba(122, 122, 122, 0.167);
  padding: 5px;
  cursor: pointer;
  margin: 0px 4px;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 10px ;
 
}
.navi:hover{
 opacity: .9;
}
.navih:hover{
 opacity: .7;
}
#player {
  width: 100%;
  height: 100vh;
  //filter: drop-shadow(0 0 1rem  rgba(255, 255, 255, 0.091));
 
}

.episodes_title{
  display: flex;
  align-items: center;
  justify-content: center;
  
  //color: $main-bg;
  margin: .3rem  15rem;
  border-radius: 15px;
  background-color: #181818;
  font-size: 14px;
  font-weight: 500;
  @include mobile {
    margin: .3rem  2rem;
    font-size: 12px;
  }
}
.episode_list{
  background-image: linear-gradient(180deg, $black , #18181861);
  backdrop-filter: blur(10px);
  columns: 3;
  column-gap: 10px;
  
  gap: 5px;
  overflow: auto;
  padding: 8px;
  //border-radius: 10px;
  gap: 5px;
  
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}
.episodes_itemz{
  display: flex;
  align-items: center;

  //background-color: #18181887;
  //border: 1px solid rgb(38, 38, 38);
  padding: 12px 20px;
  margin-bottom: 5px;
  border-radius: 15px;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  text-align: center;
  @include mobile {
    width: 100%;
    font-size: 11px;
  }
}
.actively{
  
  background-color: rgba(190, 183, 183, 0.573);
  color: rgb(11, 11, 11);
}

.episodes_itemz:hover{
  background-color: rgba(69, 69, 69, 0.377);
  color: rgba(160, 160, 160, 0.541);
}
.fallbackshow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
}
.lights::before{
  content: "";
position: absolute;
top: 0;
left: 1;
bottom: 0;
right: 0;
border-radius: 10px;
background: linear-gradient(
  95deg,
  #ff0008,
  #ffbb00,
  #22ff00,
  #00fffb,
  #6a00ff,
  #8c00ff
);
background-size: 450%;
z-index: -1;
animation: glow 20s linear infinite;
width: 100%;
}
.lights::after{
  content: "";
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
border-radius: 10px;
background: linear-gradient(
  95deg,
  #ff0008,
  #3cff00,
  #fc00c1,
  #00fffb,
  #6a00ff,
  #d400ff
);
background-size: 400%;
 z-index: -1;
animation: glow 20s linear infinite;
width: 100%;
  
}
.lights::after {
  filter: grayscale(100%);
  transform: translate3d(0, 0, 0);
  border-radius: 20px;
}
@keyframes glow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.rea{
  position: absolute;
  right: .5rem;
  cursor: pointer;
  top: 2px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  border-radius: 10px;
  font-size: smaller;
  background-color: #16161671;
  backdrop-filter: blur(10px);
  padding: 8px;
  @include mobile {
    display: none;
  }
}
.rea:hover{
  background-color: #1d1d1d88;
}.vds-audio-layout,
.vds-video-layout {
  /* Shared. */
  --media-brand: #ed0000;
  //--media-controls-color: #f5f5f5;
  --media-font-family: sans-serif;

  /* Buffering. */
  --media-buffering-animation: vds-buffering-spin 1s linear infinite;
  --media-buffering-size: 55px;
  --media-buffering-track-color: #121212c5;
  --media-buffering-track-fill-color: #ff0202;
  --media-buffering-track-fill-offset: 50;
  --media-buffering-track-fill-opacity: 0.75;
  --media-buffering-track-fill-width: 7;
  --media-buffering-track-opacity: 0.25;
  --media-buffering-track-width: 6;
  --media-buffering-transition: opacity 200ms ease;
    /* Menu. */
  --media-menu-bg: rgba(30, 30, 30, 0.717);
  --media-menu-border-radius: 15px;
  
  --media-menu-border: none;
  --media-menu-box-shadow: none;
  --media-menu-divider: none;
  --media-menu-font-size: 14px;
  --media-menu-font-weight: 500;
  --media-menu-max-height: 250px;
  --media-menu-min-width: 220px;
  --media-menu-padding: 12px;
  --media-menu-top-bar-bg: rgba(24, 24, 24, 0.6);
  --media-menu-arrow-icon-size: 18px;
  --media-menu-icon-rotate-deg: 90deg;
  --media-menu-enter-animation: vds-menu-enter 0.1s ease-out;
  --media-menu-exit-animation: vds-menu-exit 0.1s ease-out;
  --media-menu-scrollbar-track-bg: transparent;
  --media-menu-scrollbar-thumb-bg: var(--color-gray-50);
  --media-sm-menu-landscape-max-height: min(70vh, 400px);
  --media-sm-menu-portrait-max-height: 40vh;
  /* Menu Section. */
  --media-menu-section-bg: var(--color-gray-300);
  --media-menu-section-border: unset;
  --media-menu-section-divider: var(--divider);
  --media-menu-section-header-font-size: 12px;
  --media-menu-section-header-font-weight: 500;
  --media-menu-section-gap: 8px;
  --media-menu-section-border-radius: 10px;
  /* Menu Item. */
  --media-menu-item-bg: transparent;
  --media-menu-item-border-radius: 10px;
  --media-menu-item-border: none;
  --media-menu-item-height: 40px;
  --media-menu-item-hover-bg: var(--color-gray-50);
  --media-menu-item-icon-size: 18px;
  --media-menu-item-icon-spacing: 6px;
  --media-menu-item-padding: 10px;

  --media-slider-track-width: 100%;
  --media-slider-track-bg: rgba(255, 0, 0, 0.224);
  --media-slider-track-border-radius: 10px;
  --media-slider-track-fill-bg: var(--media-brand);
  --media-slider-track-fill-live-bg: #dcd626;
  --media-slider-track-height: 4px;
  --media-slider-track-progress-bg: rgba(255, 231, 231, 0.523);
  --media-slider-focused-thumb-shadow: none;
  --media-slider-focused-thumb-size: calc(var(--thumb-size) * 1.1);
  --media-slider-focused-track-height: calc(var(--track-height) * 1.25);
  --media-slider-focused-track-height: var(--track-height);
  --media-slider-focused-track-width: calc(var(--track-width) * 1.25);
  --media-slider-focused-track-width: var(--track-width);
}

