@use "../../scss/" as *;


.blurred-toast {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12px);
  color: #fff;
}

.toast-body {
  font-size: 14px;
  line-height: 1.4;
}
.loading {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.438); /* Optional, but helps hide old iframe */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-pulse {
  width: 150px;
  height: auto;
  animation: pulseFade 1.3s ease-in-out infinite;
}

@keyframes pulseFade {
  0%   { opacity: 0.4; }
  50%  { opacity: 1; }
  100% { opacity: 0.4; }
}






.custom-select-menu {
  background-color: rgba(255, 255, 255, 0.043);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
 
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.078) rgba(0, 0, 0, 0)
}
.custom-select-option:hover {
 // background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  //border-radius: 5px;
}


.player-container {
 
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  //background: linear-gradient(to top, rgba(245, 0, 0, 0), rgba(230, 1, 1, 0.5)) !important;

  //background-color: rgba(0, 0, 0);
  position: relative;

  @include mobile {
    height: 32vh;
    //background-color: #ba24247f;
    //backdrop-filter: blur(10px);
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 // backdrop-filter: blur(10px);
  font-size: 12px;
 // filter: drop-shadow(0 0 1rem rgba(210, 210, 210, 0.128));
  position: absolute;
  top: 3px;
  left: 5px;
  //padding:  .2rem;
  //background-color: #1414145f;
  z-index: 20;
 // border-radius: 7px;
  //margin: 10px;

  @include mobile {
    top: -7px;
   // background-color: #ba24247f;
    //backdrop-filter: blur(10px);
  }
}
.logozz{
  cursor: pointer;
  //border: .5px solid rgba(255, 0, 0, 0.201);
  background-color: rgba(255, 255, 255, 0.039);
 // filter: drop-shadow(0 0 1.5rem rgba(107, 107, 107, 0.342));
    //border-radius: 10px;
   //margin-left: 20px;
   position: absolute;
   right: calc(50% - 100px);
   top: 7px;
   //backdrop-filter: blur(10px);
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border-radius: 20px ;

    @include flex(center, flex-start);

    img {
        margin: 0 1px;
        width: 200px;
       // filter: drop-shadow(0 0 1rem rgba(49, 19, 19, 0.55));
        @include mobile {
          //position: absolute;
            width: 30px;
            margin-right: 0;
        }
    }
   
    @include mobile {
      display : none;
        
    }
}
.sertop{
  position: relative;
 
  
}
.topbar {
  //backdrop-filter: blur(5px);
  font-size: 11px;
 // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 .2rem;
  //background-color: #1414145f;
  z-index: 20;
  border-radius: 5px;
  //margin: 10px;
}
.navi{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.096);
  padding: 7px;
  border: 2px solid rgba(255, 255, 255, 0.411);
  padding: 8px ;
  //border-left: 1px solid rgba(248, 109, 141, 0.968);
 
  cursor: pointer;
  margin-left:  3px;
  font-size: .85rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  border-radius: 50%; ;
  opacity: .7;

  @include mobile{
    margin-left: 1rem;
    scale: 1.2;
  }
}
.navih{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.096);
  padding: 8px;
  border: 2px solid rgba(255, 255, 255, 0.411);
  cursor: pointer;
  margin: 2px 3px;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  //border-left: 1px solid rgba(255, 27, 42, 0.968);
  border-radius: 50%;
  opacity: .7;

  @include mobile{
    scale: 1.2;
  }
 
}
.navi:hover{
 opacity: 1;
}
.navih:hover{
 opacity: 1;
}

.episodes_title{
  display: flex;
  align-items: center;
  justify-content: center;
  
  //color: $main-bg;
  margin: .3rem  15rem;
  border-radius: 15px;
  background-color: #18181822;
  font-size: 14px;
  font-weight: 500;
  @include mobile {
    margin: .3rem  2rem;
    font-size: 12px;
  }
}
.episode_listimg,
.episode_list{
 // background-image: linear-gradient(to top, #000000a3 , #00000046);
 // backdrop-filter: blur(100px);
 // -webkit-backdrop-filter: blur(100px);
  @include over2lay;
  columns: 3;
  column-gap: 10px;
  margin-top: .5rem;
  gap: 5px;
  overflow: auto;
  padding: 8px;
  //border-radius: 10px;
  gap: 5px;
  transition: all .3s ease-in-out;
  
  @include mobile {
    display: flex;
    flex-direction: column;
   // justify-content: ;
  }
  
}
.episodez_itemz{
  display: inline-flex;
  align-items: center;
   position: relative;
   width: 100%;
  height:37px;
  background-color: #ffffff05;
  //border: 1px solid rgb(38, 38, 38);
  padding: 12px 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  text-align: center;
  transition: all .3s ease-in-out;
  @include mobile {
    width: 100%;
    font-size: 11px;
  }
}
.episodes_itemz{
  display: inline-flex;
  align-items: center;
   position: relative;
   width: 100%;
 // height:37px;
  //background-color: #18181887;
  //border: 1px solid rgb(38, 38, 38);
  padding: 12px 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  color: white;
  font-size: 11px;
  text-align: center;
  transition: all .3s ease-in-out;
  @include mobile {
    width: 100%;
    font-size: 11px;
  }
}
.watchlyst{
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: #ffffff0c;
  padding: 5px 10px;
  border-radius: 15px;
  left: 6.5rem;
  top: 7px;
  @include mobile {
    
    top: -.5rem;
    left: 75vw;
  }
}
.watchnow{
  position: absolute;
  right: 0px;
  
  z-index: 1 !important;
  cursor: pointer;
  width: 70px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px ;
  border-radius: 0px 10px 10px 0px;
  //background-color: #00fffb;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  color: rgb(255, 255, 255);
  

 
  
}
.watchnow.left{
  position: absolute;
  left: 0px;
 top: 0rem;
  z-index: 1 !important;
  cursor: pointer;
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px ;
  border-radius: 15px;
  background-color: #0000001c;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  color: rgb(255, 255, 255);

 .youtube-mode-layout &{
    padding: 0px 30px ;
  }
  
}
.watchnowblur{
  position: absolute;
  right: 0px;
  
  z-index: 1;
  cursor: pointer;
  width: 100%;
  height: 141px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px ;
  border-radius: 5px;
  //background-color: #00fffb;
  backdrop-filter: blur(7px) brightness(0.4);
  -webkit-backdrop-filter: blur(7px) brightness(0.4);
  color: rgb(255, 255, 255);
  font-size: l;
  
}
.seasons__content{
  padding: 0 .5rem;
  
}
.watchede-badge2,
.watchede-badge{
  position: absolute;
  right: 1px;
  color: white;
  }
.watchede-badge.left{
  position: absolute;
  bottom: 2.6rem;
  width: 100%;
  height: 100%;
  left: 0rem;
  border-radius: 10px;
 backdrop-filter: grayscale(1) brightness(0.5) ;
  color: white;
}

.watchede-badgeimg{
  position: absolute;
  right: 0px;
  //bottom: 2px;
  color: white;
  z-index: 1;
  width: 100%;
  border-radius: 1px;
  height: 140px;
  backdrop-filter: grayscale(1) brightness(0.5) ;
  -webkit-backdrop-filter: grayscale(1);
}
.watchedd{
  color: #bababa7d;
}
.actively{
  
  background-color: rgba(190, 183, 183, 0.573);
  color: rgb(11, 11, 11);
}

.episodes_itemz:hover{
  background-color: rgba(255, 255, 255, 0.126);
  color: rgba(160, 160, 160, 0.541);
}
.fallbackshow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 97vh;
  background-color: rgba(0, 0, 0, 0.379);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.rea{
  display: flex;
  position: absolute;
  right: .2rem;
  cursor: pointer;
  top: 4.5px;
  z-index: 100;
  //display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  font-size: .73rem;
  font-weight: 400;
  background-color: #ffffff0e;
  //backdrop-filter: blur(10px);
 // padding: 10px 15px;
 padding-right: 10px;
 transition: all .4s ease-in-out;
  
  @include mobile {
    left: 8.8rem;
    top: -1.4rem;
    position: absolute;
    margin: 1rem .5rem;
    width: 180px;
    //display: none;
  }
}
.dd{
  position: relative;
}

.savo{
  position: absolute;
  top: 2px;
  right: 0px;
  z-index: 100;
  backdrop-filter: blur(10px);
}
.rea:hover{
  scale: 0.97;
  background-color: #3a290188;
}
.reaimg{
  width: auto;
  height: 50px;
  border-radius: 10px 0 0 10px;

  @include mobile {
    height: 40px;
  }
}
.servers{
  position: relative;
  //z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  margin-top: 3rem;
  font-size: .8rem;
  //background-color: #16161671;
  //backdrop-filter: blur(10px);
  padding: 8px;
  @include mobile {
    //z-index: 999999;
    font-size: .9rem;
    padding: .3rem;
    padding-top: 1rem;
  }
}


.hanoxi{
  font-size: 2rem;
  font-weight: 500;
  max-width: 370px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fafafae1;
}
.haxnoiholder{
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
  gap: .4rem;
  margin: .7rem .5rem;
}
.haxnoiep{
  font-weight: 300;
  color: #ffffff42;
  text-rendering: optimizeLegibility;
}
.css-eueb69-menu{
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.438);
  -webkit-backdrop-filter: blur(15px);
  //text-align: end;
 // cursor: pointer !important;
}
.selectco{
  z-index: 100 ! important;
  position: relative;
  min-width: 200px;
  
  @include mobile {
    width: 100px;
  }
}
.androidnext{
  display: none;
  @include mobile {
    display: flex;
  }
}
.reand{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: #2b2b2b41;
  width: 100%;
  margin: 5px;
}
.servertitle{
  font-weight: 300;
}
// NEW STYLES FOR DISPLAY MODE TOGGLE
.layout-toggles {
  display: flex;
  justify-content: flex-start;
  gap: .5rem;
  padding: 5px 0px;
  //background-color: rgba(0, 0, 0, 0.5);
  button {
    background-color: #ffffff11;
    border: none;
    padding: 9px 14px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 0.75rem;
    transition: background-color 0.3s ease;
      &:hover {
        background-color: #ffffff21;
      }
      
  }
  @include mobile {
    //display: none;
  }
}
.layout-toggle{
  @include mobile {
    display: none;
  }
}
// .persistent-iframe-container
.episode-selector.current-layout {
  background-image: none !important;
  background-color: transparent !important;

 
  .episode_list{
    background-image: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    background-color: transparent !important;
  }

  .episodes_itemz{

    background-color: rgba(255, 255, 255, 0.084);
  }
    
}


.episode-selector.image-layout {
  transition: all .4s ease;
  position: relative;
  overflow: hidden;
  background-image: none !important;
  background-color: transparent !important;
  .episode_list{
    background-image: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    background-color: transparent !important;
  }
  
  .episodes_itemz{
    background-color: rgba(255, 255, 255, 0.084);
  }
  .episode_listimg{
      
    background-image: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    background-color: transparent !important;
  }
}

// -----------------
// YOUTUBE MODE LAYOUT
// -----------------
.youtube-mode-layout {
  display: flex;
  
  //gap: 10px;
 max-width: 100vw;
 //overflow: hidden;
 overflow: hidden;
 // padding: 10px;
  // Left side: player with modified dimensions
  .youtube-player {
    //flex: 1;
    min-height: 100vh;
    min-width: 69%;
    padding: 4px 10px ;
    //backdrop-filter: blur(100px);
    //-webkit-backdrop-filter: blur(100px);
    //background: radial-gradient(circle, rgba(0, 0, 0, 0.587) 0%, rgb(0, 0, 0) 100%);
  
    .player-container {
      height: auto;
     
      // Remove the full viewport height in YouTube mode
      .episodes__iframe-container {
        margin-top: .4rem;
        width: 100%;
        height: 1000px;
        // The iframe itself uses the new dimensions set via inline props
      }
      .episodes__iframe {
       // min-width: 1000px;
       // height: 450px;
        border-radius: 15px;
      }
    }
  }

  // Right side: sidebar with controls and info
  .youtube-sidebar {
    //position: fixed;
    right: 0;
   // flex: 0 0 350px;
   min-height: 100vh;
    min-width: 31%;
    max-width: 35.94%;
    overflow: hidden;
    display: flex;
   // backdrop-filter: blur(100px);
    flex-direction: column;
    gap: 10px;
   
    padding: 5px 0;
    padding-right: 2px;
    //border-radius: 5px;
    // You can adjust typography, spacing etc. here
    .episode_list {
      columns: 1 !important;
      margin-top: 0;
      background-image: linear-gradient(to bottom, #1f1c1c0f , #ffffff10);
      padding: 3px;
      border-radius: 15px;
      backdrop-filter: none;
      //background-color: #7e7e7e15 !important;
      overflow: hidden;
      transition: all .4s ease;
    }
    
    
    .episode_listimg{
      display: flex;
      overflow: auto;
      scrollbar-width: none;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      transition: all .4s ease;
      
     // border-radius: 10px;
    }
   
    .holderlay2{
      position: relative;
      display: flex;
      flex-direction: row !important;
      gap: 10px !important;
      overflow: hidden;
      text-align: start !important;
      //margin-bottom: 2rem;
    }
    .sertop{
      margin-bottom: 2rem !important;
    }
    .watchede-badge{
      position: absolute;
      right: 0;
      left: 0px;
      //bottom: 2px;
      color: white;
      z-index: 1;
      width:100%;
      text-align: start;
      border-radius: 15px;
      height: 19px;
      backdrop-filter: grayscale(1) brightness(0.5) ;
      -webkit-backdrop-filter: grayscale(1);
    }
    
    .watchede-badgeimg{
      position: absolute;
      top: 0;
      left: 0;
      //bottom: 2px;
      color: white;
      z-index: 1;
      width: auto;
      text-align: end;

      border-radius: 5px;
      height: 125px;
      backdrop-filter: grayscale(1) brightness(0.5) ;
      -webkit-backdrop-filter: grayscale(1);
    }
    .watchnowblur{
      position: absolute;
      top: 0;
      left: 0;
      //bottom: 2px;
      color: white;
      z-index: 1;
      width: 100%;
      
      z-index: 1;
      cursor: pointer;
      //width: 141px;
      height: 125px;
    
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 10px ;
      border-radius: 5px;
      //background-color: #00fffb;
      backdrop-filter: blur(7px) brightness(0.4);
      -webkit-backdrop-filter: blur(7px) brightness(0.4);
      color: rgb(255, 255, 255);
     
      
      
    }
    .watchede-badgek{
      position: absolute;
      left: 0;
      //left: 0px;
      //bottom: 2px;
      color: white;
      z-index: 0;
      width:49% !important;
      height: 100% !important;
      text-align: end;
      border-radius: 15px !important;
      
      backdrop-filter:  brightness(0.5) ;
      -webkit-backdrop-filter:  brightness(0.5);
    }
  
    .servers,
    .seasons-container,
    .recommendations {
      //width: 25%;
      margin-bottom: 1px;
    }
  }
  .servers{
    margin-top: 0;
    z-index: 2;
  }
  .episode_listimg{
    position: relative;
    display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  grid-gap: 5px;
    overflow: auto;
    background-image: none;
   // background-color: #be1a1a8a !important; 
    backdrop-filter: none;
    scrollbar-width: none;
   
    gap: 5px !important;
    padding: 2px !important; 
    
   border-radius: 10px;
  }

  .episodes_itemzimg{
    position: relative;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
      .episode_nameabo{
        z-index: 30;
        opacity: 1;
      }
      color: white;
      opacity: 1;
    }
  }
  .hose{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 126px;
    //gap: 10px;
    //padding: 10px
  }
  .episode_posterimg{
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 5px !important;
    
  }
  .layout-toggles {
    display: flex;
    justify-content: right !important;
    gap: .5rem;
    padding: 5px 0px;
    //background-color: rgba(0, 0, 0, 0.5);
    button {
      background-color: #ffffff11 !important;
      border: none;
      padding: 9px 17px;
      border-radius: 15px;
      color: white;
      cursor: pointer;
      font-size: 0.75rem;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #9c9c9c4c ! important;
      }

    }
  }

  .episode-selector{
    background-image: none !important;
    background-color: transparent !important;
  }
  
  .rearo{
    display: flex;
    margin: .2rem;
    //display: flex;
    z-index: 1000 ! important;
    //position: absolute;
    //top: -15px;
    //right: 0px;
    align-items:  center;
    justify-content: space-between;
    flex-direction: row;
   gap: 20px;
  
   text-align: end;
   text-wrap: wrap;
    border-radius: 20px 40px 40px 70px;
    width: 40%;
    font-size: .8rem ;
    //font-weight: 300;
    background-color: #ffffff0b;
    //backdrop-filter: blur(10px);
    //padding: 0px;
    cursor: pointer;
    padding-right: .4rem;
   transition: all .4s ease-in-out;
  
  }
}

.rearo{
  display: flex;
  margin: .2rem;
  //display: flex;
  z-index: 1000 ! important;
  position: absolute;
  top: 5px;
  right: 0;
  align-items:  center;
  justify-content: space-between;
  flex-direction: row;
 gap: 20px;
 text-align: end;
 overflow: hidden;
 text-wrap: wrap;
  border-radius: 5px;
  width: 50%;
  font-size: .8rem ;
  font-weight: 300;
  background-color: #ffffff09;
  //backdrop-filter: blur(10px);
  padding: 0px;
  cursor: pointer;
  padding-right: .5rem;
 transition: all .4s ease-in-out;

}

.rearoimg{
  width: auto;
  max-height: 50px;
  filter: brightness(.7);
  min-height: auto;
  object-fit: cover;
  
  border-radius: 10px 0 0 10px;
}
.rearo:hover{
  scale: .95;
 // transform-style: preserve-3d;
  background-color: #3a290188;
}
.episodes_itemzimg{
  position: relative;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover{
    .episode_nameabo{
      opacity: 1;
      //color: white;
    }
    color: white;
    opacity: .9;
  }
}
.episode_numberabo{
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 5px;
  width: max-content;
  background-color: #00000020;
  backdrop-filter: blur(10px);
 font-weight: 500;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: .7rem;
}
.episode_nameabo{
  //z-index: 30;
  position: absolute;
  top: 5px;
  left: 1px;
  text-align: center;
  color: white;
  background-color: #0000008a;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: .74rem;
  opacity: 0;
}
.episode_listimg{
  display: flex;
  overflow: auto;
  scrollbar-width: none;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  
 // border-radius: 10px;
}
.episode_posterimg{
  width: 250px;
  
}

// Example of the episode selector with backdrop image (normal mode)
.episode-selector.descriptive-layout{
  .episode_list {
    columns: 2;
   background: transparent;
    padding: 3px;
    overflow: hidden;
  }
  .holderlay2{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: start;
    //justify-content: space-between;
    overflow: hidden;
  }
  .episode_posterblur{
    width: 46%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    filter: brightness(.34) blur(40px);
  }
  .episode_posterabos{
    height: 120px;
    max-width: 59% ;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .episodes_itemz {
    position: relative;
    padding: 0px;
    padding-right: .5rem;
    text-align: start;
    background-color: #c9c9c908;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
      color: rgb(215, 215, 215);
      background-color: #8b8b8b1b;
    }
    &:active{
      color: rgb(215, 215, 215);
      background-color: #8b8b8b1b;
    }
    .episode_nameaboz {
      //z-index: 51;
      margin-top: 20px;
       text-align: start;
      color: white;
      //background-color: #00000015;
      padding: 2px 0px;
      border-radius: 5px;
      font-size: .85rem;
      font-weight: 500;
      opacity: 1;
    }
    .episode_overviewabo{
      color: grey;
      font-size: .7rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-clamp: 5;
      box-orient: vertical;
    
  }
}


}
.butaboss{
  position: absolute;
  //left: 0px;
  display: flex;
  width: 100%;
  height: 0px;
  align-items: center;
  justify-content: space-between;
 // background-color: red;
 z-index: 1;
}
.leftpal{
  position: absolute;
  left: 0px;
  bottom: -2px;
  z-index: 3 !important;
  padding: 10px;
  background: linear-gradient(to right, #000000c2, #00000008);
  color: white;
  font-size: 2rem;
  font-weight: 500;
  &:hover{
    background: linear-gradient(to right, #1c1c1c, #00000008);
  }
}
.rightpal{
  position: absolute;
  right: 0px;
  bottom: -2px;
  z-index: 3 !important;
  padding: 10px;
  background: linear-gradient(to left, #000000c2, #00000008);
  color: white;
  font-size: 2rem;
  font-weight: 500;

  &:hover{
    background: linear-gradient(to left, #1c1c1c, #00000008);
  }
}
.episode_posterabos {
  min-width: 35% ;
  height: 150px;
  border-radius: 15px !important;
  //background-position: contain;
  background-size: contain;
  background-repeat: no-repeat;

  .youtube-mode-layout & {
    min-width: 48.8% ;
    height: 150px;
    border-radius: 15px !important;
    //background-position: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }

}

.imdsdi{
  flex: 1;
  position: absolute;
  width: 60px;
  ///filter: blur(10px);
  opacity: .6;
  height: 40px;
  top: 0rem;
  right: 0;
  
  cursor: pointer;
 
}

.recoholder{
  display: flex;
  overflow: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 5px;
}
.recoholderfull{
  display: flex;
  overflow: auto;
  padding: 0 5px;
  flex-direction: row;
  scrollbar-width: none;
  //flex-wrap: wrap;
 // max-width: 800px;
  gap: 10px;
}
.recohead{
  padding: 1rem .5rem;
  text-align: start;
  color: rgba(255, 255, 255, 0.863);
  font-size: 1.6rem;
  font-weight: 400;
  //sborder-radius: 10px;
 // border-top: 1px solid #fffdfd20;
}
.recoheadtube{
  padding: .5rem .6rem;
  text-align: start;
  color: rgb(206, 206, 206);
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 10px;
  max-width: max-content;
 // background-color: #ffffff07;
  margin: 10px 0;
  border: 1px solid #fffdfd20;
}

.recoimg{
  max-width: 125px;
  @include overlay;
  height: auto;
  object-fit: cover;
  border-radius: 18px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover{
    scale: .95;
  }
}
.blurimgback{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
   display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  
  filter:  brightness(.45) blur(100px);
  -webkit-filter: brightness(.45)  blur(100px);
  
}
.haxnoititle{
  padding-left: 7px;
  color: rgba(255, 255, 255, 0.269);
  margin-bottom: -10px;
}
.zsa{
  position: relative;
  margin-top: calc(100vh - 10.9rem);
}
.persistent-iframe-container.youtube{
  position: absolute;
  top: .5rem;
  left: .5rem;
  //border-radius: 12px;
  padding: .1rem .3rem;
  //background-color: red;
  min-width: 68% !important;
  //max-width: 100% !important;
  height: calc(100vh - 12rem);

  z-index: 1000 !important;
  border-radius: 7px;
  //bottom: calc(100vh - 33.4rem);
  
  .episodes__iframe{
    border-radius: 17px;
    //height: calc(100vh - 12rem);

  }
  
}
.persistent-iframe-container.normal{
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 15px;
  //padding: 0 .5rem;
  //background-color: red;
  width: 100% !important;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
   display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000 !important;
  .episodes__iframe{
    border-radius: 10px;
    //height: calc(100vh - 12rem);

  }
  @include mobile {
    position: fixed;
    top: 0;
    z-index: 1001 !important;
    width: 100% !important;
    height: 30vh;
  }
  
}




.scroll-arrow.left{
  position: absolute;
  left: 0px;
  bottom: -40px;
  background: linear-gradient(to right, #1a1a1a, #00000008);
  padding: 7px;
  font-size: 1.5rem;
  width: 30px;
}

.scroll-arrow.right{
  position: absolute;
  right: 0px;
  bottom: -40px;
  background: linear-gradient(to left, #161616, #00000008);
  padding: 7px;
  font-size: 1.5rem;
  width: 30px;
}

.arrow.left-arrow{
  position: absolute;
  left: 0px;
  top: 0;
  cursor: pointer;
  background: linear-gradient(to right, #1a1a1a, #00000008);
  padding: 7px;
  font-size: 1.5rem;
  width: 30px;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background: linear-gradient(to right, #242424, #00000008);
    backdrop-filter: grayscale(1);
  }
}

.arrow.right-arrow{
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
  background: linear-gradient(to left, #161616, #00000008);
  padding: 7px;
  font-size: 1.5rem;
  width: 30px;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background: linear-gradient(to left, #242424, #00000008);
    backdrop-filter: grayscale(1);
  }
}

.collectionholder{
  padding: 1rem;
}

.collimg{
 img{
  width: 360px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover{
    scale: .95;
  }
 }
}
.collname{
  color: #fff;
  font-size: .9rem;
  cursor: pointer;
  padding: .4rem 0;
  transition: all .3s ease-in-out;
  &:hover{
    scale: .95;
  }
}
