@use '../../scss/' as *;
@use '../../scss/breakpoint' as *;


.list {
    position: relative;
    overflow: hidden;
    scrollbar-color: rgba(47, 47, 47, 0.021) rgba(26, 27, 26, 0.062);
    scrollbar-width: thin;
}
.right {
   margin-top: -2.5rem;
    position: absolute;
    z-index: 10;
    right: 10px;
   //background-color: rgba(18, 18, 18, 0.724);
   color:$main-bg;
   padding: 3px;
   border-left: 1px solid rgba(233, 233, 233, 0.644);
   font-size: smaller;
   background-color: rgba(27, 27, 27, 0.79);
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   font-weight: 200;
   //backdrop-filter: blur(10px);
   //color: rgba(233, 233, 233, 0.644);
 @include mobile {
     display: none;
   }
}
.left{
    margin-top: -2.5rem;
   
    position: absolute;
    z-index: 10;
    right: 50px;
   padding: 5px;
   color:$main-bg;
   padding: 3px;
   border-right: 1px solid rgba(233, 233, 233, 0.644);
   font-size: smaller;
   background-color: rgba(27, 27, 27, 0.79);
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   font-weight: 200;
   //backdrop-filter: blur(10px);
   @include mobile {
      display: none;
   }

}

.right:hover{
    background-color: rgba(27, 27, 27, 0.607);
    color: rgb(255, 255, 255);
    
}
.left:hover{
    background-color: rgba(26, 26, 26, 0.852);
    color: rgba(245, 245, 220, 0.256);
}

