@use '../../scss/' as *;
@use '../../scss/breakpoint' as *;




.movie-list {

    .wrappwe{
        min-height: 150px;
    }

    .swiper-slide {
        width: 22%;

    

        @include tablet {
            width: 35%;
        }

        @include mobile {
            width: 45%;
        }
    }

} 

