@use "../../scss/" as *;


i {
    font-size: 1.2rem;

    @include mobile {
        font-size: 1.4rem;
    }
}

.logo {
    z-index: 99;
  cursor: pointer;
  //background-color: rgba(0, 0, 0, 0.272);
    border-radius: 10px;
    //align-self: center;
    //margin-left: 10px;
    font-size: 1.3rem;
    font-weight: 300;
    //backdrop-filter: blur(20px);
    //-webkit-backdrop-filter: blur(10px);
    

    @include flex(center, flex-start);

    img {
      filter: drop-shadow(0 0 .5rem rgb(0, 0, 0));
      display:none;
    
        margin: 2px;
        //opacity: .4;
        width: 269px;
        border-radius: 20PX;

        @include mobile {
          //position: absolute;
            display: block;
            width: 130px;
            margin-right: 0;
        }
    }
   
    @include mobile {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
      border-right: none;
      position: absolute;
      right: 2px;
      z-index: 99;
        
    }
}
.logotext{
    padding-right: 10px;
    font-weight: 500;
    font-size: 1rem;
    @include tablet {
      display: none;
   }
   @include mobile {
     display: block;
 }
}
.zilla{
  text-align:start;
  color: $main-bg;
  font-size: smaller;
}
.modala{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  //padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
 // border-radius: 10px;
 backdrop-filter: blur(5px);
 filter: grayscale(20%);
 -webkit-backdrop-filter: blur(5px);
 &_content{
    margin-bottom: 6rem;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    @include mobile {
        padding: .5rem;
    }
    @include tablet {
        padding: .5rem;
    }
 }
}

.ggd{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    //margin-top: 1rem;
    margin-bottom: 3rem;
}
.newheader{
  position: fixed;
  top: 0;
  left: 0;
  //bottom: 0;
  height: 100vh;
  z-index: 50;
  width: 60px;
  background-color: rgba(14, 14, 14, 0.498);

}
.headersidebar{
  margin-top: 10rem;
  //background-color: #3030305b;
  height: 100%;
  width: 60px;
}
.sidebar{
   margin: .3rem;
  // width: 50px;
   //height: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
}

.header {
    @include flex(center, space-between);
    align-items: center;
    //margin-right: 7rem;
    //justify-content: flex-start;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition: transform 0.3s ease-in-out;
 
    //transition: height 0.5s ease, background-color 0.3s ease;

    @include mobile {
        height: 5rem;
    }
   
    &.shrink {
        height: $header-shrink-height;
        //background-color: rgba(0, 0, 0, 0.45);
        //backdrop-filter: blur(5px);
        //-webkit-backdrop-filter: blur(5px);
        //border-bottom: 2px ridge black;

        @include mobile {
            backdrop-filter: none;
            height: 5rem;
            -webkit-backdrop-filter: none;
        }
    }

    &__wrap {
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       gap: 1rem;
        height: 100%;
       // padding: 0 2rem;
        margin: 0;
        transition: transform 0.3s ease-in-out;
 
        @include mobile {
          
            justify-content: center;
        }
    }

  
   
    &__nav {
        @include flex(center,center);
        display: none;
        & > * ~ * {
          transition: transform 0.3s ease-in-out;
 
         margin: 0 1rem;
            
        }


   
        @include mobile {
          
          display: flex;
            //border-top: 1px solid rgb(57, 57, 57);
            position: fixed;
            bottom: 0;
            left: 0;
            //right: 0;
            height: 5rem;
            width: 100%;
            justify-content: space-evenly;
            background-image: linear-gradient(180deg , rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 45% , black 100%);
            //background-color: rgba(0, 0, 0, 0.742);
            //box-shadow: 0px 0px 30px rgba(0, 0, 0);
            filter: drop-shadow(1rem 0rem 2rem rgb(0, 0, 0));
            transition: transform 0.3s ease-in-out;
            backdrop-filter: none;
            font-size: medium;
            padding: 0.2rem ;
           // margin-bottom: .5rem;
        
            
            @include flex(center, space-around);

            & > * ~ * {

                margin: 0;
                

            }
        }
        
}
}

.header.hide {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;

  @include mobile {
     transform: none;
    transition: transform 0.3s ease-in-out;
  }
}
.header.hide .header.shrink {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
 
  @include mobile {
     transform: none;
    transition: transform 0.3s ease-in-out;
  }
}

.header.hide .header__nav {
  transition: transform 0.3s ease-in-out;
  
  @include mobile {
     transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  }
 
}
.hosz{
  margin-right: 1rem;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.noresult{
  padding: 1rem;
  text-align: center;
}

.szh-menu {
    border: 4px solid rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(15px) !important;
   // font-family: sans-serif;
    font-size: 0.7rem !important;
    user-select: none;
    //box-shadow: 1px 1px 20px 1px rgba(228, 27, 27, 0.877) !important;
    border-radius: 10px !important;
    padding: 15px !important;
    min-width: 5rem !important;
     color: #fff !important;
    &--state-opening {
      animation: szh-menu-show 0.15s ease-out;
    }
  
    &--state-closing {
      animation: szh-menu-hide 0.2s ease-out forwards;
    }

    &-button {
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0);
      //padding: 0.375rem 0.625rem !important;
      &--hover {
        color: #fff;
        background-color: #ffffff0f !important;
      }
    }
  
    &__item {
        font-size: small !important;
        border-radius: 6px;
        padding: 0.5rem 0.625rem !important;
      &--hover {
        color: #fff;
        background-color: #1a1a1a83 !important;
      }
      }
    }

    .logout{
        font-size: .4rem !important;
    }

.loggz{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap : 1rem;
    
    //margin-top: 1rem;
    //margin-left: 7rem;
    
}
.lozg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //gap : .5rem;
    padding: .5rem 1rem;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 5px;

    
    //backdrop-filter: blur(10px);
    //margin-top: 1rem;
    //margin-left: 7rem;
}
.lozg:hover{
    background-color: rgba(255, 0, 47, 0.468);
}
.bur{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    //margin-top: 1rem;
    //margin-left: 7rem;
    
    @include mobile {
        display: none;
    }

    
}
.draccocont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap : .5rem;
}
.drccbtn{
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 5px;
  padding: .7rem 1rem;
  background-color: rgba(255, 255, 255, 0.068);
  border: none;
  color: #fff;
  font-size: .9rem;
  transition: all 0.5s ease-in-out;
  &:hover{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.676);
    text-decoration: underline;
  }
  @include mobile {
    //position: relative;
    margin-left: -.5rem;
  }
}
.dracco{
  position: fixed;
  display: flex;
  //justify-content: flex-end;
  //align-items: center;
  flex-direction: column;
  //gap: .5rem;
  margin-top: 40rem;
  margin-right: 13rem;
 padding: .2rem .5rem;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.568);
  backdrop-filter: blur(30px);
  height: max-content;
  border-radius: 20px;
  z-index: 100;
  transition: height 0.5s ease-out;
 // overflow: auto;
  @include mobile {
    //flex-direction: column;
    top: 0;
    left: 0;
    padding: 0rem;
    //margin-top: ;
    width: 100%;
    margin: 9rem .1rem;
   // height: 35%;
  }
}
.draccotext{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 // gap : .5rem;
  padding: 2rem 1rem;
  color: rgb(255, 255, 254);
  margin: .1rem 0rem;
  z-index: 1;
 
  border-radius: 5px;
  text-align: start;
  //font-size: .9rem;
  @include mobile {
    margin: 1rem ;
    //padding: 3rem;
    //display: none;
    font-size: 2.5rem;
  }
}

.randombtn{
  display: flex;
  z-index: 100;
  position: relative;
  flex-direction: row;
  
  gap : .5rem;
  padding: 1rem 3.5rem;
  color: rgb(255, 255, 255);
  //margin: 2.3rem 1rem;
  background-color: rgba(255, 255, 255, 0.068);
  border-radius: 7px;
  text-align: end;
  font-size: .9rem;
  transition: all 0.5s ease-in-out;
  &:hover{
    background-color: rgba(96, 96, 96, 0.468);
    text-decoration: underline;
  }
  @include mobile {
    //margin: 2rem ;
    padding: 2rem 3rem;
    font-size: 1.4rem;
    //display: none;
  }
}
.randompic{
  //position: absolute;
  top: 5px;
  font-weight: 600;
  color: rgb(222, 222, 222);
  left: 5px;
  font-size: 1.5rem;
 
}
.aga2{
  padding: .6rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.068);
  color: rgb(255, 255, 255);
  outline: 3px solid rgba(255, 255, 255, 0.333);
  transition: all 0.5s ease-in-out;
  &:hover{
    outline: 3px solid rgb(255, 255, 255);
    background-color: rgba(96, 96, 96, 0.468);
    text-decoration: underline;
  }
}

.iconbox{
   color: rgb(255, 255, 255);
   background-color: rgba(0, 0, 0, 0.66);
   //border: 1px solid rgba(0, 0, 0, 0.144);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   padding:  10px;
   //margin-bottom: 20rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:.7rem;
    gap: .1rem;
    transition: all 0.7s ease-in-out;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      transition: width 0.5s ease;
      height: 2px;
      color: $main-bg;
      background-color: $main-bg;
  }
  &.active::after ,&:hover::after{
      width: 100%;
      color: $main-bg;
      
  }
  @include mobile {
    margin-bottom: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
   background-color: #00000000;
    color: rgb(255, 255, 255);
     opacity: 1;
     scale: 1.3;
     height: 100%;
     width: 100%;
     //font-size: 5rem;

     i{
      font-size: 1.7rem;
     }
 }
}
.active{
  position: relative;

  //color: red;
  &::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: width 0.5s ease;
    height: 2.5px;
    
    background-color: $main-bg;
}
&.active::after ,&:hover::after{
    
    width: 100%;
    
}
}
.iconv{
   opacity: 0;
    font-size: 0;
    font-weight: 550;
}
.mds{
    min-height: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.537);
      
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    scrollbar-color: rgba(171, 171, 171, 0) transparent;
    gap: 1rem;
    position: absolute;
    z-index: 99;
    width: 100%;
    //min-height: 10vh;
    max-height: 80vh;
    border-radius: 10px;
    margin-top: calc(100vh - 4rem);
    overflow: auto;
    margin-right: 2px;
   
    @include tablet {
        margin-top: calc(100vh - 5rem);
        width: 75vw;
       
        
    }
    @include mobile {
        background-color: rgb(0, 0, 0);
       z-index: -10;
        backdrop-filter: none;
        margin-right: 0;
      margin-top: calc(100vh - 3rem);
      max-height: 99vh;
       width: 100vw;
        
    }
}

.searchmovie{
  //position: relative;
  margin-left: -180px;
   display: flex;
  justify-content: center;
   padding: 0 0.3rem;
   position: relative;
   align-items: center;
   width: 500px;
   input {
       background-color: rgba(14, 14, 14, 0.345);
      border: 1px solid rgba(255, 255, 255, 0.495) !important;
       margin-top: 1rem;
       border-radius: 10px;
      
       backdrop-filter: blur(10px);
       -webkit-backdrop-filter: blur(10px);
      color: rgb(255, 255, 255);
      padding: .7rem 1.5rem;
      margin-bottom: 1rem;
      width: 600px;
      
      &:focus {
        outline: none;
        background-color: rgba(0, 0, 0, 0.468);
        border: 1px solid $main-bg;
      }
      
     
      @include mobile {
        z-index: 99;
        border: none;
        border-radius: 25px;
       // margin-top: 4px;
        padding: 1rem 1.5rem;
        background-color: rgba(0, 0, 0, 0.826);
        //border: 1px solid rgba(128, 128, 128, 0.495);
        width: 100%;
    }
    
      
   }
   ::placeholder{
       font-size: small;
       font-weight: 300;
       color: rgba(255, 255, 255, 0.792);
   }
   @include tablet {
    
     //margin-left: -;
      width: 310px; 
     
   }
   
   @include mobile {
     margin-top: -5px;
       margin-left: 0px;
       width: 100vw;
       
   }

}

.clearsearchan{
  position: absolute;
  color: rgb(255, 255, 255);
  top: 11.5px;
  background-color: rgba(255, 255, 255, 0.34);
  z-index: 999;
  padding: 8.4px 20px;
  border-radius: 0 20px 20px 0;
 // font-size: 30px;
  right: 4px;
}
.socialzz{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: .5rem;
    margin-top: .5rem;   
}
.draccopic{
   position: absolute;
    top: -.1rem;
    left: -.4rem;
   filter: grayscale(100%);

    border-radius: 20px 20px 0px 0px;
    width: 103.6%;
    height: 100px;
    object-fit: cover;

    @include mobile {
      top: 0;
      width: 100%;
      left: 0;
      margin-left: 0;
      margin-top: 0;
     // display: none;
     z-index: -1;
     opacity: .4;
    }
}
.dracco-inner{
  position: relative;
  width: 100%;
  height: 100%;
}
.draccopicb{
  position: absolute;
   bottom: 0rem;
   display: none;
   left: 0rem;
  // margin-bottom: 1rem;
  
   border-radius: 0px 0px 10px 10px;
   width: 100%;
   height: 70px;
   object-fit: cover;

   @include mobile {
     bottom: 0;
     width: 100%;
     left: 0;
     margin-left: 0;
     z-index: -1;
     opacity: .4;
     margin-bottom: 0;
    // display: none;
   }
}
.random-confirmation{
  //position: fixed;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
 // backdrop-filter: blur(15px);
 // justify-content: ;
 margin-top: 1rem;
 padding: 0rem;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  gap: .5rem;
  height:max-content;

  @include mobile {
    margin-top: 1rem;
    height: 500px ;
    //margin-bottom: 1rem;
    padding: 0rem;
     flex-direction: column;
     gap: .5rem;
     //height:max-content;
   }
 h4{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgb(255, 255, 255);
  font-size: small;
  font-weight: 500

  
 }
 
 background: rgba(248, 248, 248, 0.075);
 img{
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;

  @include mobile {
    
   
    height: 250px;
    object-fit: cover;
   }
 }
 .tiova{
  
  //font-size: small;
 h3{
  z-index: 1;
  @include mobile {
    font-size: 2.5rem;
  }
 }

  p{
    font-size: x-small;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    //white-space: nowrap;
    width: 90%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.792);

    @include mobile {
      font-size: small;
      text-overflow: ellipsis;
      overflow: hidden;
      line-clamp: 3;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      //white-space: nowrap;
      width: 90%;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.792);
     }
  }
 }



}
.buttondual{
  display: flex;
  gap: .5rem;
  @include mobile {
    margin-top: 5rem;
    gap: 1rem;
  }
}
.random-actions{
  display: flex;
  padding: .2rem .5rem;
  flex-direction: row;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include mobile{
    flex-direction: column;
  }

  .aga{
    padding: .7rem ;
    background-color: rgba(255, 255, 255, 0.037);
    outline: 3px solid rgba(255, 255, 255, 0.422);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
    &:hover{
      background-color: rgba(96, 96, 96, 0.468);
      text-decoration: underline;
    }

    @include mobile {
      padding: 1rem ;
      background-color: rgba(255, 255, 255, 0.037);
      outline: 3px solid rgba(255, 255, 255, 0.422);
      color: rgb(255, 255, 255);
      border-radius: 50%;
      white-space: nowrap;
      transition: all 0.5s ease-in-out;
      &:hover{
        background-color: rgba(96, 96, 96, 0.468);
        text-decoration: underline;
      }
     }
  }
}
