@use "../../scss/" as *;


i {
    font-size: 1.3rem;
}
.logo {

  background-color: rgba(24, 24, 24, 0.648);
    border-radius: 10px;
   margin-left: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    color: $main-bg;
    border-right: 1px solid transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-image: linear-gradient(to bottom, rgb(55, 0, 255), rgb(255, 0, 128)) 1;
  

    @include flex(center, flex-start);

    img {
        //margin-right: 20px;
        width: 40px;

        @include mobile {
          //position: absolute;
            width: 30px;
            margin-right: 0;
        }
    }
   
    @include mobile {
      position: absolute;
      right: 0px;
      z-index: 99;
        
    }
}
.logotext{
    padding-right: 10px;
    font-weight: 500;
    font-size: 1rem;
    @include tablet {
      display: none;
   }
   @include mobile {
     display: block;
 }
}
.zilla{
  text-align:start;
  color: $main-bg;
  font-size: smaller;
}
.modal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  //padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  border-radius: 10px;
 backdrop-filter: blur(10px);
 &_content{
    margin-bottom: 6rem;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    @include mobile {
        padding: .5rem;
    }
    @include tablet {
        padding: .5rem;
    }
 }
}

.ggd{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    //margin-top: 1rem;
    margin-bottom: 3rem;
}

.header {
    @include flex(center, space-between);
    align-items: center;
    margin-right: 7rem;
    //justify-content: flex-start;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition: height 0.5s ease, background-color 0.3s ease;
   
    &.shrink {
        height: $header-shrink-height;
        background-color: rgba(0, 0, 0, 0.662);
        backdrop-filter: blur(10px);
        //border-bottom: 2px ridge black;

        @include mobile {
           backdrop-filter: none
        }
    }

    &__wrap {
       display: flex;
       align-items: center;
       justify-content: space-between;
       gap: 1rem;
        height: 100%;
        padding: 0 2rem;
        margin: 0;
        @include mobile {
            justify-content: center;
        }
    }

    &__nav {
        @include flex(center, space-around);
        

        & > * ~ * {
            margin-left: 1rem;
        }

        li {
            cursor: pointer;


            padding: 5px 0;
            font-weight: 500;
            position: relative;
            font-size: 1.2rem;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width 0.5s ease;
                height: 2px;
                background-color: $main-bg;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
            }
        }


        @include mobile {
            justify-content: space-around;
            
        }
    }

    &__nav {
        @include flex(center,center);

        & > * ~ * {
            margin: 0 1rem;
            
        }

        li{ 

            
            padding: 5px;
            font-weight: 500;
            position: relative;
            font-size: 1.2rem;


            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width 0.5s ease;
                height: 2px;
                background-color: $main-bg;
            }
            &.active::after ,&:hover::after{
                width: 100%;
                
            }
        }


        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 5.8rem;
            width: 100%;
            justify-content: space-around;
            background-color: rgba(0, 0, 0, 0.498);
            backdrop-filter: blur(10px);
            font-size: medium;
            padding: 0.5rem ;
        
            
            @include flex(center, space-around);

            & > * ~ * {
                margin: 0;

            }
        }
        
}
}
.bur{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    //margin-top: 1rem;
    //margin-left: 7rem;
    
    @include mobile {
        display: none;
    }

    
}

.iconbox{
   color: rgb(255, 255, 255);
   background-color: rgba(24, 24, 24, 0.648);
   padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:.6rem;
    gap: .1rem;
    transition: all 0.7s ease-in-out;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      transition: width 0.5s ease;
      height: 2px;
      background-color: $main-bg;
  }
  &.active::after ,&:hover::after{
      width: 100%;
      
  }
  @include mobile {
    color: rgb(255, 255, 255);
     opacity: 1;
     font-size: 1rem;
 }
}
.active{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: width 0.5s ease;
    height: 2.5px;
    background-color: $main-bg;
}
&.active::after ,&:hover::after{
    width: 100%;
    
}
}
.iconv{
   opacity: 0;
    font-size: .1rem;
    font-weight: 250;
    transition: all 0.3s ease-in-out;
  
    @include mobile {
      
        opacity: 1;
        font-size: 1rem;
    }
}
.mds{
    min-height: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 31, 31, 0.836);
    backdrop-filter: blur(10px);
    scrollbar-color: rgba(171, 171, 171, 0) transparent;
    gap: 1rem;
    position: absolute;
    width: 100%;
    max-height: 80vh;
    border-radius: 10px;
    margin-top: calc(100vh - 4rem);
    overflow: auto;
    margin-right: 2px;
   
    @include tablet {
        margin-top: calc(100vh - 50rem);
        width: 75vw;
       
        
    }
    @include mobile {
      margin-top: calc(100vh - 3rem);
      max-height: 90vh;
       width: 100vw;
        
    }
}

.searchmovie{
  //position: relative;
  margin-left: -100px;
   display: flex;
   //justify-content: flex-start;
   padding: 0 0.3rem;
   position: relative;
   align-items: center;
   width: 600px;
   input {
       background-color: rgba(20, 20, 20, 0.605);
      
       margin-top: 1rem;
       border-radius: 30px;
      
       backdrop-filter: blur(10px);
      
      color: white;
      padding: .8rem 1.5rem;
      margin-bottom: 1rem;
      border-left: 1px solid transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-image: linear-gradient(to bottom, rgb(55, 0, 255), rgb(255, 0, 128)) 1;
      width: 600px;

    
      
   }
   ::placeholder{
       font-size: small;
       color: rgba(255, 255, 255, 0.696);
   }
   @include tablet {
     margin-left: 0;
      width: 310px; 
     
   }
   @include mobile {
       margin-left: -2px;
       width: 100vw;
       
   }

}


