@use "../../scss/" as *;

.newheader{
    position: fixed;
    top: 0;
    left: 0;
    //bottom: 0;
    height: 100vh;
    z-index: 11 !important;
    width: 60px;
    //backdrop-filter: blur(10px);
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
   
    
    transition: all .5s ease-in-out;

    &.shrinker{
        width: 40px;
        opacity: .3; 
       // backdrop-filter: none;
        background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
        z-index: 99;
        transition: all .5s ease-in-out;

        &:hover{
            opacity: 1;
            backdrop-filter: blur(10px);
            width: 60px;
            transition: all .5s ease-in-out;
        }
       
    }


    @include mobile {
      display: none;
    }
  
  }
  .headersidebar{
    margin-top: 4rem;
    //background-color: #3030305b;
    z-index: 1000 !important;
    height: 100%;
    width: inherit;
  }
  
  .iconsidebox{
    color: rgb(255, 255, 255);
    //background-color: rgba(0, 0, 0, 0.66);
    //border: 1px solid rgba(0, 0, 0, 0.144);
    //backdrop-filter: blur(5px);
    //-webkit-backdrop-filter: blur(5px);
    padding:  10px;
    margin-bottom: 1.5rem;
     border-radius: 7px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size:1rem;
     gap: .1rem;
     transition: all 0.7s ease-in-out;
     position: relative;
     &::after{
       content: "";
       position: absolute;
       bottom: 0;
       left: 50%;
       transform: translateX(-50%);
       width: 0;
       transition: width 0.5s ease;
       height: 2.7px;
       color: $main-bg;
       background-color: $main-bg;
   }
   &.active::after ,&:hover::after{
       width: 50%;
       color: $main-bg;
       
   }
   @include mobile {
    display: none;
     margin-bottom: 0;
     backdrop-filter: none;
     -webkit-backdrop-filter: none;
     background-color: #00000039;
     color: rgb(255, 255, 255);
      opacity: 1;
      scale: 1.5;
      height: 100%;
      width: 100%;
      font-size: 5rem;
  }
 }
 .iconsideboxitem.active{
    background-color: #ffffff2e;
    border-radius: 7px;
    backdrop-filter: blur(20px);
 }

 .iconsideboxitem{
     display: inherit;
     justify-content: center;
     cursor: pointer;
     //background-color: rgba(15, 13, 13, 0.454);
 }
 .active{
   position: relative;
   //color: red;
   &::after{
     content: "";
     position: absolute;
     bottom: -4px;
     left: 50%;
     transform: translateX(-50%);
     width: 0;
     transition: width 0.5s ease-in-out;
     height: 2.5px;
     
     background-color: $main-bg;
 }
 &.active::after ,&:hover::after{
     height: 3.3px;
     background-color: rgb(0, 255, 247);
     border-radius: 5px;
     width: 40%;
     transition: width 0.5s ease-in-out;
  
     
 }
 }
 .iconvz{
     opacity: 0;
    font-size: .65rem;
     font-weight: 300;
     transition: all 0.3s ease-in-out;
 }
 .iconsidebox:hover .iconvz{
  opacity: 1;
  font-size: .65rem;
}
.active .iconvz{
    opacity: 1 !important;
    font-size: .65rem;
  }
.searchabsolute{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    //width: 100%;
    background-image: radial-gradient(transparent 2px, #000 0);
    background-size: 4px 4px;
    backdrop-filter: brightness(.3) blur(14px) !important;
    backdrop-filter: blur(10px);
}
.searchmovieabsolute{
    //background-color: ;
     //position: relative;
  //margin-left: -180px;
  display: flex;
  //justify-content: flex-start;
  padding: 0 0.3rem;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19;
  flex-direction: column;
  align-items: center;
  
 // width: 400px;
 input {
    background-color: rgba(0, 0, 0, 0.575);
   
    //margin-top: .1rem;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
   color: rgb(255, 255, 255);
   padding: .7rem 1.3rem;
   margin-bottom: .4rem;
   width: 450px;
   border: 2px solid rgba(104, 104, 104, 0.203);
     
     &:focus {
       outline: none;
       background-color: rgba(0, 0, 0, 0.468);
       border: 2px solid $main-bg;
     }
     
     @include tablet {
        // width: 40vw;
   }
    
     @include mobile {
       border: none;
       border-radius: 10px;
      // margin-top: 4px;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
   
       padding: 1rem 1.5rem;
       background-color: rgba(0, 0, 0, 0.826);
       width: 100%;
   }
   
     
  }
  ::placeholder{
      font-size: normal;
      font-weight: 300;
      color: rgb(255, 255, 255);
  }
  @include tablet {
   //width: 80vw;
    
  }
  @include mobile {
    //margin-top: 5px;
      margin-left: -2px;
      width: 100vw;
      
  }

}
.clearsearch{
    background-color: #010101af;
    padding: 10px 40px;
    font-size: small;
    border-radius: 10px;
    margin: 3px;
    cursor: pointer;
}
.clearsearch:hover{
    background-color: #f4f4f4be;
    color: black;
}
.closeevery{
    position: absolute;
    top: 6rem;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    cursor: pointer;
    background-color: #18181826;
    //padding: 1rem;
    color: rgba(195, 195, 195, 0.477);
    font-size: .9rem;
    z-index: 30;
}
.mdsa{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.776);
    max-height: auto;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: inherit;
   
   // margin-right: .1rem;
}
.aisuddestiondiv{
    position: absolute;
    left: 5px;
    //margin-left: -400PX;
    //background-color: #000;
    //margin-top: .1rem;
    z-index: 1001;
    //display: flex;
    align-items: center;
    //backdrop-filter: blur(3px);
   background-color: rgba(1, 1, 1, 0.815);
    width: 320px;
    max-height: 114px;
   // min-height: 50px;
    display: none;
   flex-direction: column;
   //flex-wrap: wrap;
    padding:    .5rem;
    overflow: auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
    display: none;
  }
    border-radius: 15px;

    @include tablet {
        top: .5rem;
        width: 22%;
    }
   
}
.nameaisuggestion{
    max-width: auto;
}
.aititlesu{
    
   // text-align: start;
    font-size: .7rem;
    font-weight: 300;
    padding: 10px;
    background-color: #090909e8;
    border-radius: 15px;
    margin: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    &:hover{
        color: #000;
        background-color: rgba(255, 255, 255, 0.607);
       // border-bottom: 1px solid $main-bg;
  
    }
}
.suggy{
    display: none;
    align-items: center;
    border-radius: 10px;
    color: $main-bg;
    padding: 10px;
    background-color: #090909e8;
    font-size: small;
    font-weight: 400;
    text-align: center;

    @include tablet {
        font-size: .7rem;
        padding: 7px;
    }
}
.searchabsolutetitle{
    background: linear-gradient(to right, rgb(234, 234, 234), rgb(255, 255, 255));
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    //margin-left: -6rem;
   // padding: 10px ;
    font-size: 1.3rem;
    text-align: center;
    filter: drop-shadow(0 0 3rem rgb(0, 0, 0));
    //box-shadow: #bc1d1d39 0px 0px 10px 0px;
}

.searchios{
    display: flex;

    width: 70vh;
    justify-content: space-between;
    padding-right: .5rem;
    align-items: center;
    z-index: 70 !important;
    //border-radius: 0 0 10px 10px;
    //background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(2, 2, 2, 0.553));
  
}
