@mixin flex($align-items, $justify) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify;
  }

@mixin overlay{
    background-color: rgba($color: rgba(0, 0, 0, 0.365), $alpha: 0.1);
}
