$body-bg: #0c0c0c;
$main-bg: #b0b0b0;
$txt-bg: #ffffff;

$white: #ffffff;
$black: #000000;

$header-height: 3.2rem;
$header-shrink-height: 3.2rem;
$border-radius: 10px;
$mobile-width: 900px;
$tablet-width: 1024px;

$font-family: "Rethink Sans", sans-serif;
