$body-bg: #0c0c0c;
$main-bg: #1eff00;
$txt-bg: #ffffff;

$white: #ffffff;
$black: #000000;

$box-shadow: #141414 0px 5px 15px;

$header-height: 6rem;
$header-shrink-height: 4.5rem;
$border-radius: 10px;
$mobile-width: 700px;
$tablet-width: 1024px;

$font-family: "Rethink Sans", sans-serif;
