@use '../../scss/' as *;


.account {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   backdrop-filter: blur(30px) !important;
  
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 98%;
    margin: 1rem;
    height: 40vh;
    @include mobile{
        height: 34vh;
        width: 97%;
        //scale: 1.2;
    }

}
.userAvator{
    margin-top: 2.5rem;

    @include mobile{
        margin-top: 2rem;
        //scale: 1.2;
    }
}
.accountle{
    margin-top: .3rem;
    border-bottom: 1px solid pink;
}

.User{
    
    background: linear-gradient(to right, rgb(255, 105, 180), rgb(255, 215, 0));
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.shit{
    margin: .5rem;
    display: flex;
    gap: .5rem;
    flex-direction: row;
}
.userem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background-color: rgba(77, 77, 77, 0.121);
    padding: 5px;
    font-weight: 300;
    border-radius: 10px;
   
}
.shi{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    //text-align: center;
    min-width: 10px;
    font-size: small;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff0f;
}
.accounttitle{
   
    text-align: center;
}
.dh{
    padding: 1rem;
  font-size: 3rem;

}
.history{
    overflow: auto;

}
.clear{
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0 1rem;
    gap: .5rem;
    transition: all .4s ease;
    cursor: pointer;

    &:hover{
        color: rgba(255, 115, 0, 0.856);
    }
    &:focus{
        color: red;
    }
}
