@use '../../scss/' as *;



.watchlist{
   position: relative;
   display: flex;
   flex-direction: row;
   overflow: auto;
   margin:10px  2px;
   //margin-left: 4rem;
   border-bottom: 1px solid rgba(128, 128, 128, 0.21);
   scrollbar-color: rgba(46, 46, 46, 0.279) rgba(48, 31, 42, 0.057);
 }
.watchlisthome{
  //height: 10rem;
  position: relative;
   display: flex;
   flex-direction: row;
   overflow: auto;
   border-bottom: 1px solid rgba(128, 128, 128, 0.21);
    scrollbar-color: rgba(46, 46, 46, 0) rgba(48, 31, 42, 0);

}
.watchlistcard{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    gap: 1px;
    min-width: 120px;
    height: 315px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
      transition: all .3s ease-in-out;
      background-color: rgba(254, 255, 255, 0.078);
    }
    &:focus{
      transition: all .3s ease-in-out;
      background-color: rgba(255, 255, 255, 0.146);
   
    }
    
}
.watchlistcardhome{
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    gap: 1px;
    min-width: 120px;
    height: 205px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
      transition: all .3s ease-in-out;
      background-color: rgba(127, 127, 127, 0.146);
    }
    &:focus{
      transition: all .3s ease-in-out;
      background-color: rgba(83, 82, 82, 0.121);
   
    }
}

.watchlistimg{
    width: 120px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
}

.features{
//position: absolute;
//right: -40px;
 //z-index: -1;
  //margin-right: 20px;
  //background-color: #fff;
    height: 210px;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
   // align-items: center;
    //justify-content: center;
    gap: 10px;
}
.featureswa{
  z-index: 2;
  //margin-top: -1.5rem;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.featuretitle{
  //backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  width: 120px;
  //margin-left: -100px;
  line-height: 1.2;
  gap: 10px;
  font-weight: 300;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.365);
  max-height: 47px;
  color: rgba(255, 255, 255, 0.454);
  padding: 10px;
  border-radius: 5px;
  font-size: small;
  transition: all .3s ease-in-out;
  &:hover{
    transition: all .3s ease-in-out;
    background-color: rgba(28, 28, 28, 0.404);
  }
}
.featuretitlef.active {
  color: #ae00ff; /* or any other color you want */
}
.featuretitlewf{
  //backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  max-width: 120px;
  //margin-left: -100px;
  line-height: 1.2;
  gap: 10px;
  font-weight: 300;
  align-items: center;
  //backdrop-filter: blur(10px);
  //background-color: rgba(71, 1, 52, 0.498);
  color: pink;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-shadow: 
    0 0 5px rgba(255, 174, 252, 0.683),
    //0 0 15px rgb(75, 75, 75),

  //scale: 2;
  //font-size: 7re;
}
.r2{
  scale: 2;
}
.featuretitlef{
  //backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  //margin-left: -100px;
  line-height: 1.2;
  gap: 10px;
  font-weight: 300;
  align-items: center;
  background-color: rgba(255, 60, 109, 0.174);
  color: rgba(248, 182, 199, 0.932);
  padding: 10px;
  border-radius: 5px;
  font-size: small;
  transition: all .3s ease-in-out;
  &:hover{
    transition: all .3s ease-in-out;
    background-color: rgba(56, 0, 27, 0.509);
  }
  &:focus{
    transition: all .3s ease-in-out;
    background-color: rgba(56, 0, 27, 0.849);
 
  }
}
.featuretitlefz{
  //backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  //margin-left: -100px;
  line-height: 1.2;
  gap: 10px;
  font-weight: 300;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.192);
  color: rgba(233, 0, 39, 0.932);
  padding: 10px;
  border-radius: 5px;
  font-size: small;
  transition: all .3s ease-in-out;
  &:hover{
    transition: all .3s ease-in-out;
    background-color: rgba(56, 0, 27, 0.509);
  }
  &:focus{
    transition: all .3s ease-in-out;
    background-color: rgba(56, 0, 27, 0.849);
 
  }
}
.fave{
  border-right: 1.5px solid #ffffff42;
  margin-top: 4rem;
  background-color: #0808080f;
}
.fava{
  margin-top: 2rem;
  font-size: 2rem;
  border-radius: 10px;
  background: linear-gradient(to right,  rgb(29, 29, 29),  rgba(255, 255, 255, 0.354));
  background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 line-height: 1.3;
  //margin: 10px;
  //text-align: center;
  transform: rotate(90deg);

  @include mobile{
    margin-top: 2rem;
    font-size: 2.5rem;
  }
}
.favazi{
  margin-top: 1.4rem;
  font-size: 1.6rem;
  border-radius: 10px;
  background: linear-gradient(to right,  rgb(29, 29, 29),  rgba(255, 255, 255, 0.354));
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 //line-height: 1.3;
  //margin: 10px;
  //text-align: center;
  transform: rotate(90deg);

  @include mobile{
    margin-top: 1rem;
    margin-left: -6rem;
    font-size: 1.6rem;
  }
}
.favz{
  margin-top: 6rem;
  padding: 0 1rem;
  font-size: 2.7rem;
  border-radius: 10px;
  background: linear-gradient(to right,  rgb(48, 48, 48),  rgb(255, 255, 255));
  background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 line-height: 1.3;
  //margin: 10px;
  //text-align: center;
  //transform: rotate(90deg);

  @include mobile{
    margin-top: 14rem;
    font-size: 2rem;
  }
}
.fav{
  font-size: 2rem;
  margin-top: 8.5rem;
  margin-left: .5rem;
  margin-right: .7rem;
  border-radius: 10px;
  background: linear-gradient(to right , rgb(255, 1, 103), rgba(250, 0, 0, 0.979));
  background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  //margin: 10px;
  //text-align: center;
 // transform: rotate(90deg);
  //width: 150px;
  @include mobile{
    margin-left: 0;
    margin-right: 0;
    margin-top: 14rem;
    font-size: 2rem;
  }
}

.featuretitlew{
  //backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  max-width: 130px;
  //margin-left: -100px;
  line-height: 1.2;
  gap: 10px;
  font-weight: 300;
  align-items: center;
  background-color: rgba(74, 47, 0, 0.37);
  color: rgba(214, 218, 219, 0.932);
  padding: 10px;
  border-radius: 5px;
  font-size: small;
  transition: all .3s ease-in-out;
  &:hover{
    transition: all .3s ease-in-out;
    background-color: rgba(105, 105, 105, 0.459);
  }
  &:focus{
    transition: all .3s ease-in-out;
    background-color: rgba(74, 47, 0, 0.836);
 
  }
}
.featuretitlezi{
  //backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  max-width: 130px;
  //margin-left: -100px;
  line-height: 1.2;
  gap: 10px;
  font-weight: 300;
  align-items: center;
  background-color: rgba(82, 82, 82, 0.212);
  color: rgba(214, 218, 219, 0.932);
  padding: 10px;
  border-radius: 5px;
  font-size: small;
  transition: all .3s ease-in-out;
  &:hover{
    transition: all .3s ease-in-out;
    background-color: rgba(74, 47, 0, 0.45);
  }
  &:focus{
    transition: all .3s ease-in-out;
    background-color: rgba(74, 47, 0, 0.836);
 
  }
}
.r{
  font-weight: 300;
  font-size:  x-small;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.load{
  text-align: center;
  margin: 3rem;
  font-size: 5rem;
}
.categorytoggle{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  margin: .2rem .3rem;
}
.toggle-button{
  background-color: rgba(255, 255, 255, 0.043);
  color: rgb(227, 227, 227);
}


