@use '../../scss/' as *;

.filters {
   // margin-top: 3rem;
    margin-left: 3.4rem;
    min-height: fit-content;
    height: 100%;
    padding: .5rem;
    //background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    gap: 1rem;

    @include mobile {
        padding: .5rem;
        margin-left: 0;
    }
    @include tablet {
        padding: .5rem;
        margin-left: 0;
    }
}
.filename {
    text-align: center;
    font-weight: 300;
    //background-color: #16001d;
    padding: 2rem;
    border: 1px solid rgba(255, 192, 203, 0.429);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
.formtitle{
    padding: .3rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    //background-color: #101010;
    color: rgb(255, 255, 255);
    font-size: smaller;
    text-align: start;
    //border-radius: 5px;
}
.bigmovie{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    @include mobile{
        flex-direction: column;
    }
}
.lefter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    //background-color: rgba(135, 135, 135, 0.388);
    border: 1px solid rgb(46, 46, 46);
    width: 100%;
    margin: .5rem;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        color: rgb(128, 127, 127);
    }
}
.righter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    //background-color: rgba(135, 135, 135, 0.388);
    width: 100%;
    border: 1px solid rgb(46, 46, 46);
   
    margin: .5rem;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        color: rgb(128, 127, 127);
    }
}
.toggle-filters{
    margin-bottom: 1rem;
}
.backback{
    background-color: #161616;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    transition: all 2s ease-in-out;
}
.righters{
    position: sticky;
    top: 0rem;
    z-index: 1;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 100;
//backdrop-filter: blur(20px);
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(14, 14, 14, 0.014));
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0rem 0;
   // border-radius: 10px;
    cursor: pointer;
}
.select{
    border: 1px solid rgb(255, 185, 228);
   
   }
.gen{
    display: inline-flex;
    flex-wrap: wrap;
    font-size: .75rem;
    gap: .5rem;
    align-items: center;
    justify-content: start;
    padding: .5rem;
    z-index: 50;
  
}
.cbut{
    display: flex;
    margin-bottom: 1rem;
    gap: .5rem;
}
.lent{
    display: flex;
    flex-wrap: wrap;
}
.genrezz{
    cursor: pointer;
    //background-color: rgb(35, 35, 35);
    border: 1px solid $black;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: .7rem;
    gap: .5rem;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: rgb(79, 25, 42);
        border: 1px solid rgb(79, 25, 42);
       // color: grey;
}
@include mobile{
    font-size: .85rem;
}

}

.genrezzx{
    cursor: pointer;
   // background-color: rgb(14, 14, 14);
    border: 1px solid rgb(80, 80, 80);
    padding:  10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
    font-size: .75rem;
    @include mobile{
        font-size: .85rem;
    }
}

.movie-gridk{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
    align-items: center;
    gap: 8px;
    
    

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
        left: 0;
    }

    @include mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    
    }
    
}

.lod{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: .4rem;

}

.checkbox-custom {
    display: inline-block;
    width: 30px; /* Adjust size as needed */
    height: 10px; /* Adjust size as needed */
    //border: 1px solid #d900ff; /* Red border */
    background-color: #202020; /* Grey background */
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px; /* Space between checkbox and text */
}

.checkbox-custom::after {
    content: '\2713'; /* Unicode checkmark character */
    font-size: 16px; /* Adjust size as needed */
    color: #fff; /* White color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Initially hidden */
    transition: transform 0.2s ease;
}

input[type="checkbox"] {
    opacity: 0; /* Hide the default checkbox */
    position: absolute;
    left: -9999px; /* Move off screen */
}

.checkbox-custom input[type="checkbox"]:checked + .checkbox-custom::after {
    transform: translate(-50%, -50%) scale(1); /* Show checkmark */
}

.checkbox-text {
    transition: color 0.3s ease;
}

.checkbox-label:hover .checkbox-custom {
    background-color: #7f7f7f; /* Grey background on hover */
}

.checkbox-label:hover .checkbox-text {
    color: grey; /* Red text color on hover */
}

.checkbox-label.checked .checkbox-custom {
    background-color: $main-bg; /* Red background when checked */
    border-color: rgba(255, 255, 255, 0.587); /* Red border when checked */
}

.checkbox-label.checked .checkbox-text {
    color: rgb(192, 192, 192);
    border-bottom: 2px solid $main-bg;
   // text-decoration: underline;
     /* Red text color when checked */
}
.radio-text:hover{
   color: #7f7f7f;
}
input[type="radio"] {
    accent-color: $main-bg;
    width: 20px;

}
