@use '../../scss/' as *;

.tags{
   position: sticky;
   
   top: 0px;
    z-index: 39;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    overflow: auto;
    gap: 5px;
    padding: 5px;
    border-radius: 1px;
    stroke-width: 1px;
    scrollbar-width: 10px;
    background-color: #000000be;
    backdrop-filter: blur(20px);
    scrollbar-color: #1a1a1a00 #7a505000;
 
    @include mobile {
        top: 0px;

    }
    

  
}
.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-size: .7rem;
    padding: 7px 40px;
    height: 40px;
    min-width: 120px;
    text-align: center;
    border: 1.3px solid #4f4f4fb8;
    //background: rgba(50, 46, 46, 0.384);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    //border: 1px solid #4f4f4f00;
     
    transition: all 0.5s ease-in-out;
    &:hover{
        opacity: 0.5;
        border: 1px solid pink;
       // transition: all 0.5s ease-in-out;
    }
    
    @include mobile {
        font-size: 1rem;
        
    }
}
.tagOutline{
    position: relative;
    padding: 2.5px;
    border-radius: 10px;
    background: #15151500;
    transition: all 0.5s ease-in-out;

    @include mobile {
        padding: 2px;
    }

}

.tag.selected {
    border-radius: 10px;
    border: none;
    color: rgb(254, 254, 254);
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.393);
    transition: all 0.5s ease-in-out;
}
.tagOutline.selected::before{
    content: "";
  position: absolute;
  top: 0;
  left: 1;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #ff0008,
    #ffca3a,
    #8ac926,
    #13ece8,
    #4c00b7,
    #ff6700
  );
  background-size: 450%;
  z-index: -1;
  animation: glow 20s linear infinite;
  width: 100%;
}.tagOutline.selected::after{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #ff0008,
    #ffca3a,
    #8ac926,
    #13ece8,
    #4c00b7,
    #ff6700
  );
  background-size: 400%;
   z-index: -1;
  animation: glow 20s linear infinite;
  width: 100%;
    
}
.tagOutline.selected::after {
    filter: blur(25px);
    transform: translate3d(0, 0, 0);
    border-radius: 10px;
  }
@keyframes glow {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 100% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }

