@use '../../scss/' as *;


.sectiongrid{
    display: flex;
    flex-direction: column;
}
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
    gap: 4px;
    
    

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
        left: 0;
    }

    @include mobile {
        grid-template-columns: repeat(auto-fill, minmax(min(140px, 100%), 1fr));
    
    }
    
    &__loadmore {
        text-align: center;

    }
    
}
.section_header {
    //position: sticky;
    top: -15px;
    //z-index: 99;
    //display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 2rem;
    width: 100%;
    //margin-bottom: 1rem;

   
}



.label{
    display: flex;
    text-align: center;
    flex-direction: column;
    //align-items: center;
    gap: 5px;
    padding: 5px;


    @include mobile {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding: 5px;
    }
}
.mb2x{
    position: relative;
   font-size: 25px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
  // backdrop-filter: blur(20px);
 // background-image: linear-gradient(170deg, yellow, rgb(255, 42, 0));
  
    color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
    @include tablet{
        font-size: 23px;
    }
}
.mb2x::before{
    content: "";
  position: absolute;
  top: 0;
  left: 1;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #833ab4,
    #fd1d1d,
    #fcb045,
    #fc4545,
    #4c00b7,
    #ff6700
  );
  background-size: 450%;
  z-index: -1;
  animation: glow 20s linear infinite;
  width: 100%;
}
.mb2x::after{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #833ab4,
    #fd1d1d,
    #fcb045,
    #fc4545,
    #4c00b7,
    #ff6700
  );
  background-size: 400%;
   z-index: -1;
  animation: glow 20s linear infinite;
  width: 100%;
    
}
.mb2x::after {
    filter: blur(25px);
    transform: translate3d(0, 0, 0);
    border-radius: 10px;
  }
@keyframes glow {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 100% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }


.select-container{
    display: flex;
    align-items: center;
    width: 100%;
    gap: .7rem;
    @include mobile {
        columns:none;
        
    }
}
.select-option{
    background-color: rgba(161, 157, 157, 0.167);
    color: rgb(255, 255, 255);
    padding:  1rem;
    width: 100%;
    
    //margin-bottom: .5em;
    //height: 75px;
    //margin-bottom: 1rem;
    border-radius: 7px;
    font-size: 11px;
    font-weight: 300;

    cursor: pointer;

    @include tablet {
        //background-color: #00000034;
        //color: rgba(255, 255, 255, 0.34);
        //height: 25px;
        font-size: 10px;
    }

}
.select-option:hover{
    background-color: rgba(255, 255, 255, 0.178);
    color: rgb(180, 170, 170);
}
.selected{
    background-color: rgba(197, 186, 191, 0.368);
    color: rgb(255, 255, 255);
}
.scrolltotop{
    @include mobile{
        display: none !important;
    }
}
.scrolltotop:hover{
    opacity: 1 !important;
}

.tity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101010;
    padding: .5rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 20%;
    font-size: .7rem;
    margin-bottom: .4rem;

    @include mobile{
        display: none;
    }
}
