@use '../../scss/' as *;



.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
    gap: 4px;
    
    

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
        left: 0;
    }

    @include mobile {
        grid-template-columns: repeat(auto-fill, minmax(min(130px, 100%), 1fr));
    
    }
    
    &__loadmore {
        text-align: center;

    }
    
}
.section_header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-top: 4rem;
    //margin-bottom: 1rem;

    
}


.section_search {
   display: flex;
 width: 100%;
    align-items: center;
    justify-content: space-between;
   // position: relative;

   padding: 10px;
  
    
}
.label{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.mb2x{
   font-size: 12px;
    align-items: center;
    background-color: rgba(6, 6, 6, 0.788);
    color: rgba(255, 255, 255, 0.692);
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 5px;
}
.select-container{
    display: flex;
    align-items: center;
    
    gap: 10px;
    padding: 5px;
    @include mobile {
        overflow: auto;
        
    }
}
.select-option{
    background-color: rgba(28, 28, 28, 0.66);
    color: rgba(255, 255, 255, 0.836);
    padding: .4rem 1rem;
    //margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;

}
.select-option:hover{
    background-color: rgba(255, 255, 255, 0.76);
    color: rgb(26, 26, 26);
}
.selected{
    background-color: rgb(255, 255, 255);
    color: rgb(12, 12, 12);
}
