@use '../../scss/' as *;



.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
    gap: 4px;
    
    

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(min(160px, 100%), 1fr));
        left: 0;
    }

    @include mobile {
        grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
    
    }
    
    &__loadmore {
        text-align: center;

    }
    
}
.section_header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-top: 2rem;
    width: 100%;
    //margin-bottom: 1rem;

    
}


.section_search {
   display: flex;
 width: 100%;
  //flex-direction: column;
    align-items: center;
    justify-content: space-between;
   // position: relative;

   padding: 10px;
  
    
}
.label{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
    padding: 5px;


    @include mobile {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding: 5px;
    }
}
.mb2x{
   font-size: 25px;
    align-items: center;
    background-color: rgb(23, 23, 23);
    color: rgba(255, 255, 255, 0.831);
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 5px;

    @include tablet{
        font-size: 23px;
    }
}
.select-container{
    display: flex;
    margin-top: 1rem;
    gap: 10px;
    padding: 5px;
    @include mobile {
        flex-wrap: wrap;
        justify-content: center;
        
    }
}
.select-option{
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
    padding: .5rem 1rem;
    //margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 450;

    cursor: pointer;

}
.select-option:hover{
    background-color: rgba(255, 255, 255, 0.76);
    color: rgb(26, 26, 26);
}
.selected{
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
}
.scrolltotop:hover{
    opacity: 1 !important;
}
