@use '../../scss/' as *;

.spotlight {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: .1rem;
    border-radius: 10px;
    transition: all 1s ease-in;

    @include mobile {
        padding: 0;
    }
     
   .swiper-slide {
    width: 100%;
    height: 520px;
    padding-top: 3rem;
    object-fit: cover;
   transition: all .9s ease-in-out;
   //transition: font-size 1s ease-out;
    
    font-size: small;
    left: 4rem;   
    @include tablet {
      height: 510px;
    } 
    @include mobile {
        font-size: 1rem;
        height: 500px;
        left: 0rem;
      margin-bottom: 2rem;
        
    }
 }
 
 .swiper-slide.swiper-slide-active {
  //padding-left: .5rem;
  font-size: 1.5rem;
  transition: width .9s ease-in-out, font-size .9s ease-out;
  will-change: auto;
   width: 750px !important;
   object-fit: cover;
   @include mobile {
    width: 100% !important;
   }
  
 }
 .swiper-slide.swiper-slide-prev{
  transition: width .9s ease , font-size 1s ease-out;
 }
 .swiper-slide.swiper-slide-next {
  transition: width .9s ease-out;
 transition-delay: 1s; /* delay the transition by 0.5 seconds */
}

}
/* Move the pagination bullets up by 10px */
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
margin-bottom: 1rem;

@include mobile {
    margin-bottom: -1rem;
}

/* Change the size and color of all bullets */
.swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  background-color: #ffffffd3;
  border-radius: 10px;
}


/* Change the shape of all bullets to a square */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #b3abab;
  border-radius: 0;
}

/* Change the size and color of all bullets to a larger size */
.swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  background-color: #ffffffa9;
  border-radius: 10px;
}
}

.alignerbutts{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  gap: 1rem;
  margin-top: 2rem;
  z-index: 10;
 
  @include mobile {
      display: none;
  }
}

.spotlight-number{
  position: absolute;
    margin-top: 1rem;
    font-size: 1rem;
    right: 0px;
    padding: 1.2rem;
    border-right: 1px solid rgb(130, 130, 130);

    backdrop-filter: blur(10px);
    color: rgba(245, 222, 179, 0.566);

    background-color: rgba(0, 0, 0, 0.582);
   
    font-weight: 400;
    z-index: 10;
    @include mobile {
        font-size: 1rem;
    }
    @include tablet {
        font-size: 1rem;
    }
}
.spotlight-name{
    font-size: larger;
    padding-left: 1rem;
    //background-color: rgba(0, 0, 0, 0.139);
    border-radius: 10px;
    font-weight: 400;
    @include mobile {
        font-size: 1.3rem;
    }
    @include tablet {
        font-size: 1.4rem;
    }
}
.spotlight-image{
    width : 100%;
    height: 480px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    
    @include mobile {
        height: 600px;
        border-radius: 2px;
    }
    @include tablet {
        height: 480px;
    }
}
.spotlight-content{
  display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 0px;
    //padding-top:calc(100vh - 25rem);
    margin-bottom: -.5rem;
    //gap: .1rem;
    width: 100%;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    //background-image: linear-gradient(220deg, transparent, rgba(0, 0, 0, 0.468));
    font-size: smaller;
    font-weight: 300;
    // ... existing styles ...
  
    @include tablet {
      padding: 0 1rem;
      //margin: 0 1rem;
      align-items: center;
      backdrop-filter: none;
      background-color: rgba(0, 0, 0, 0.664);
      //padding-top: calc(50vh - 14rem);
      width: 100%;
      opacity: 0; // hide spotlight content by default
      transition: opacity 0.5s ease-in-out;
      font-size: small;
    }
    
}


.swiper-slide-active .spotlight-content {
 
  opacity: 1; // show spotlight content on active slide
}
.modal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border-radius: 10px;
 backdrop-filter: blur(10px);
 &_content{
    
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    @include mobile {
        padding: .5rem;
    }
    @include tablet {
        padding: .5rem;
    }
 }
}
.butts{
  color: white;
  transition: all .3s ease-in-out;
}
.butts:hover{
  //transform: scale(1.1);
  transition: all .3s ease-in-out;
  cursor: pointer;
  color: rgb(238, 49, 49);
}
.spon {
  width: max-content;
  margin:  .2rem .5rem ;
 // background-color: rgba(0, 0, 0, 0.559);
  
  padding: .1rem .5rem;
  border-radius: 5px;
  font-size: .7rem;
  font-weight: 600;
  color: rgba(251, 206, 122, 0.865);
}
.spotlight-genres{
    font-size: x-small;
    font-weight: 400;
    padding: .5rem;
    //background-color: rgba(0, 0, 0, 0.112);
    border-radius: 15px;
    @include tablet {
        margin: .5rem;
        font-size: x-small;
    }
}
.spotlight-overview{
  font-size: .65rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.687);
  padding: 10px;
  margin-left: 10px;
  //overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
  
    @include tablet {
       //display: none;
        width: 100%;
        margin: .3rem;
        font-size:x-small;
    }
   
    

}
.spotty{
  display: flex;
  align-items: center;
  padding-left: .5rem;
  //justify-content: center;
  font-size: x-small;
  font-weight: 300; 
  gap: 5px;
}
.genre {
   margin-left: 10px;
    display: inline-block;
    padding: 5px 8px;
    margin: 2.5px;
    border-radius: 5px;
     font-size: xx-small;
    font-weight: 300;
  }
  
  .genre.a {
    background-color: #000000ad;
  }
  
  .genre.comedy {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .genre.b {
    background-color: #000000ad;
    color: rgba(255, 255, 255, 0.411);
  }
