@use '../../scss/' as *;

.modalhome{
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 6%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  @include mobile {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.936), rgba(0, 0, 0, 0));
    height: 7rem;
    width: 100%;
  }
   
  }
  .homenama{
    filter: drop-shadow(0 0 1rem #000000);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
  }

.spotlight {
    position: relative;
    min-height: 100vh;
    width: 100%;
    //background-color: #fff;
    //overflow-x: hidden;
    //z-index: 55;
    padding: .1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
   // transition: all 1s ease-in;

    @include tablet {
      margin-bottom: 0rem;
        padding: 0;
        min-height: 100%;
    }
     
   .swiper-slide {
   // z-index: 99;
    width: 100%;
    height: 555px;
    padding-top: .1rem;
    object-fit: contain;
    margin-bottom: 4rem !important;
    
    //overflow-x: hidden;
    
  // transition: all .9s ease;
   transition: font-size 1s ease-out;
  // transition: transform 0.5s ease-out;
  // will-change: transform;
  will-change: width;
    font-size: small;
    left: 4rem;   
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 1rem;
      background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.995) 100%);
      opacity: 1;
      transition: opacity 0.5s ease;
      pointer-events: none;
      border-radius: 19px;
      z-index: 1; // Make sure it sits above the image
    }
    @include tablet {
      padding-top: .3rem;
      height: 530px;
    } 
    @include mobile {
      transition: font-size .3s ease-out;
      overflow: hidden;
      padding-top: 0rem;
        font-size: 1rem;
        height: 590px;
        left: 0rem;
      margin-bottom: 2rem;
        
    }
 }
 
 .swiper-slide.swiper-slide-active {
  //padding-left: .5rem;
  font-size: 1.5rem;
  transition: width .5s ease, font-size .6s ease-out;
  z-index: 99;
  width: 850px !important;
   object-fit: cover;
   &::after {
    opacity: 0;
  }
   @include mobile {
    transition: width .2s ease, font-size .2s ease-out;
 
    width: 100% !important;
   }
  
 }
 .swiper-slide.swiper-slide-prev{
  // cursor: pointer;
 transition: width .5s ease , font-size .6s ease-out;
 @include mobile {
  transition: width .2s ease, font-size .2s ease-out;

  }

 }
 .swiper-slide.swiper-slide-next {
 
  //cursor: pointer;
  transition: width .5s ease-out , font-size 1s ease-out;
// transition-delay: 1s; /* delay the transition by 0.5 seconds */
  @include mobile {
    transition: width .2s ease, font-size .2s ease-out;
 
  ///  width: 100% !important;
   }
  
}

}
/* Move the pagination bullets up by 10px */
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
margin-bottom: 2rem;

@include mobile {
   margin-bottom: .5rem;
    //margin-left: 95%;

    z-index: 220;
    //width: 18px;
    //height: 95%;
}

/* Change the size and color of all bullets */
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #ffffffd3;
  border-radius: 10px;
}


/* Change the shape of all bullets to a square */
.swiper-pagination-bullet {
  width: 100px;
  height: 10px;
  background-color: #b3abab;
  border-radius: 0;
}

/* Change the size and color of all bullets to a larger size */
.swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 7px;

  @include mobile {
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 2px;
  }
}
}

.alignerbutts{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0px;
  gap: .3rem;
  margin: .2rem ;
  z-index: 1;
 
  @include mobile {
      display: none;
  }
}
.alignerbuttsco{
  position: absolute;
  right: 0;
  margin-top: -3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 1px;
  gap: .3rem;
 
  z-index: 1;
 
  @include mobile {
      display: none;
  }
}

.alignerbutts2{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  gap: .3rem;
  margin: .2rem;
  z-index: 1;
 
  @include mobile {
      display: none;
  }
}

.spotlight-number{
  position: absolute;
    bottom: 6rem;
    font-size: 1.1rem;
    right: 0px;
    padding: 1rem;
    border-right: 1px solid white;
    //border-radius: 10px;
   //backdrop-filter: blur(5px);
    color: rgba(241, 241, 241, 0.63);

    background-color: rgba(255, 255, 255, 0.059);
    font-weight: 300;
    z-index: 10;
    @include mobile {
      //top: 3rem;
      bottom: 1rem;
        font-size: 4rem;
    }
    @include tablet {
        font-size: 1.4rem;
    }
}
.spotim{
  max-width: 35%;
  height: 80px;
  object-fit: contain;
  padding: 4px;

  @include mobile {
    max-width: 50%;
    height: auto;
  }
}
.spotlight-name{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: .5rem;
    //background-color: rgba(0, 0, 0, 0.139);
    border-radius: 10px;
    font-weight: 400;
    @include mobile {
        font-size: 1.3rem;
    }
    @include tablet {
        font-size: 1.4rem;
    }
}
.spotlight-image{
    width : 100%;
    height: 540px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    @include overlay();
    //background-image: linear-gradient(180deg, transparent, rgb(0, 0, 0));
    box-shadow: none; 
    
    
    @include tablet {
        height: 500px;
    }
    @include mobile {
      height: 600px;
      border-radius: 2px;
  }
}
.spotlight-content{
  display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 1.2rem;
    //left: -.1px;
    padding-bottom: .8rem;
    //padding-top:calc(100vh - 25rem);
    margin-bottom: -0.36rem;
    //gap: .1rem;
    width: 100%;
    border-radius: 15px;
    border-top-left-radius: 0;
    //backdrop-filter: blur(100px);
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.929));
    font-size: smaller;
    font-weight: 300;
    //opacity: 0.7;
    // ... existing styles ...
    @include tablet {
      margin-bottom: .8rem;
    }
    @include mobile {
      padding: 0 1rem;
      padding-bottom: .8rem;
      margin-bottom: -3.5rem;
      border-radius: 0;
      //margin: 0 1rem;
      align-items: start;
      background-image: linear-gradient(180deg, transparent, rgb(0, 0, 0));
   
      //background-color: rgba(0, 0, 0, 0.664);
      //padding-top: calc(50vh - 14rem);
      width: 100%;
      opacity: 0; // hide spotlight content by default
      transition: opacity 0.5s ease-in-out;
      font-size: small;
    }
    
}


.swiper-slide-active .spotlight-content {
 
  opacity: 1; // show spotlight content on active slide
}
.modal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border-radius: 10px;
 backdrop-filter: blur(10px);
 &_content{
    
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    @include mobile {
        padding: .5rem;
    }
    @include tablet {
        padding: .5rem;
    }
 }
}
.buttsl{
  position: absolute;
  z-index: 50 !important;
  right: 0px;
  bottom: 2.9rem;
  //background-color: rgba(18, 18, 18, 0.724);
  color: white;
  padding: 6px;
  width: 170px;
  text-align: end;
  //border-left: 1px solid rgba(233, 233, 233, 0.644);
  font-size: smaller;
  background-color: rgba(255, 255, 255, 0.064);
 // backdrop-filter: blur(10px);
 border-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: small;
  font-weight: 300;
  color: white;
  transition: all .3s ease-in-out;
  scale: .9;

}
.buttsr{
  position: absolute;
  z-index: 50 !important;
  border-radius: 5px;
  left: 3.9rem;
  bottom: 2.9rem;
  //background-color: rgba(18, 18, 18, 0.724);
  color: white;
  padding: 6px;
  //border-left: 1px solid rgba(233, 233, 233, 0.644);
  font-size: smaller;
  background-color: rgba(255, 255, 255, 0.064);
  //backdrop-filter: blur(10px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
 width: 80px;
  font-size: small;
  font-weight: 300;
  color: white;
  transition: all .3s ease-in-out;
  scale: .9;
  @include tablet {
    right: 13.4rem;
  }
}
.buttsr:hover{
  scale: 1;
  transition: all .3s ease-in-out;
  cursor: pointer;
  color: rgb(240, 11, 61);
  
}
.buttsl:hover{
  scale: 1;
  transition: all .3s ease-in-out;
  cursor: pointer;
  color: rgb(237, 31, 16);
}
.spotlight-watch-btn{
  background-color: #ffffff0e;
  color: azure;
  font-weight: 300;
  
}
.spon {
  margin:  .2rem  ;
  position : absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.062);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border-radius: 15px;
  border-top-right-radius: 2px;
  font-size: .65rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  //text-rendering: geometricPrecision;
  @include mobile {
   // position: relative;
    //width: max-content;
    margin:  .2rem .5rem ;
   // background-color: rgba(0, 0, 0, 0.559);
    
    padding: .3rem .5rem;
    //border-radius: 5px;
    font-size: .7rem;
    font-weight: 600;
  }
 
  //color: rgba(251, 206, 122, 0.865);
}
.spotlight-genres{
    font-size: x-small;
    font-weight: 400;
    padding: .5rem;
    //background-color: rgba(0, 0, 0, 0.112);
    border-radius: 15px;
    @include tablet {
        margin: .5rem;
        font-size: x-small;
    }
}
.spotlight-overview{
  padding: .2rem .5rem;
  margin: .3rem 1rem;
  max-width: 60%;
  //background-color: #0000004a;
  font-size: .7rem;
  font-weight: 200;
  border-radius: 5px;
  color: rgba(192, 192, 192, 0.76);
  //text-align: start;
  //max-width: 110%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  
    @include tablet {
       //display: none;
        width: 100%;
        margin: .3rem;
        font-size:xx-small;
    }
   
    

}
.spotty{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: .5rem;
  //justify-content: center;
  font-size: x-small;
  font-weight: 300; 
  gap: 5px;
}
.genre {
    margin-left: 10px;
    display: inline-block;
    padding: 5px 10px;
    margin: 1.5px;
    border-radius: 5px;
    font-size: x-small;
    font-weight: 300;

    @include mobile{
      font-size: xx-small;
  
    }
  }
  
  .genre.a {
    background-color: rgba(255, 255, 255, 0.034);
      color: rgb(234, 234, 234);
 
    //background-color: #8f8f8f5f;
  }
  
  .genre.comedy {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .genre.b {
    background-color: #0000004a;
    font-weight: 400;
    color: rgb(184, 173, 175);
  }
