@use '../scss/' as *;
@use '../scss/breakpoint' as *;

.section-tit{
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    //text-align: start;
}

.movie-list{
  overflow: hidden;
    scrollbar-color: rgba(47, 47, 47, 0.021) rgba(26, 27, 26, 0.062);
    scrollbar-width: thin;
}


.continue-watching-title{
  position: absolute;
    display: flex;
    justify-content: flex-start;
    padding: .5rem;
    background-color: rgba(30, 30, 30, 0.829);
    font-size: small;
    border-radius: 10px;
    font-weight: 200;
    color: rgba(233, 233, 233, 0.842);
    top: 34.4rem;
    left: 1rem;

  @include mobile {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    padding: .5rem;
    background-color: rgb(23, 23, 23);
    font-size: small;
     border-radius: 10px;
     font-weight: 200;
      color: rgba(233, 233, 233, 0.644);
     position: relative;
      width: 120px;
     left: .5rem;
  }
}
.del{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: .4rem;
  background-color: rgba(30, 30, 30, 0.829);
  font-size: small;
  border-radius: 10px;
  font-weight: 200;
  //color: rgba(233, 233, 233, 0.842);
  top: 34.4rem;
  left: 9rem;

@include mobile {
  //display: none;
  //position: absolute;
  //top: 5px;
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  background-color: rgb(153, 43, 43);
  font-size: small;
   border-radius: 10px;
   font-weight: 200;
    color: rgba(233, 233, 233, 0.644);
   //position: relative;
    
   //left: 2rem;
}
}



.villa{

   //background-color:rgba(39, 39, 39, 0.148);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  //margin: .6rem  0rem;
  border-left: 3px solid transparent;
  border-image: linear-gradient(to top, rgb(55, 0, 255), rgb(255, 0, 128)) 1;
  width: 50%; 
  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  //align-items: center;

  @include mobile {
      width: 100%;
      padding: 5px;
      margin-bottom: .5rem;
      font-size: small;
  }
}
.continue_watchingcontainer{
 // background-color: rgba(27, 27, 27, 0.514);
  display: flex;
  margin: 1rem;
  border-radius: 10px;
  flex-direction: row;
  overflow: auto;
  padding: 5px;
  scrollbar-color: #1a1a1a00 #00000000;
  scroll-behavior: auto;
}
.contin{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: .3rem;
  gap: 1rem;
}
.continuewatching{
   cursor: pointer;
   position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100px;
    align-items: center;
    flex-direction: row;
    transition: all 0.5s ease-in-out;
    overflow: auto;
    background-color: #14141463;
   
    border-radius: 2px;
    
    img{
      width: 70px;
      height: 100px;
      object-fit: cover;
    }
}
.movietitle{
  
  font-size: x-small;
  font-weight: 200;
  color: rgba(151, 151, 151, 0.842);
  text-align: start;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
  @include mobile {
    font-size: xx-small;
  }
  //height: 70px;
  transform: rotate(90deg);
}

.continuewatching:hover{
  color: white;
   opacity: .7;
  //border: 1.5px solid $main-bg;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
 
}
.catx{
 
  padding: 5px 10px;
  margin-top: .7rem;
  background-color: rgb(13, 13, 13);
  border-radius: 5px;
  font-weight: 200;
  color: rgba(255, 133, 133, 0.571);
  text-align: end;

  @include mobile {
    font-size: xx-small;
  }
}
.bluez{
    background-color: rgba(0, 255, 234, 0.068);
    position: relative;
    right: 90px;
    top: 25px;
    color: rgb(0, 255, 221);
    //text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    font-size: .7rem;
    text-decoration: underline;
    opacity: 0;
    //margin: 1.5rem;
    border-radius: 20px;
    @include tablet {
        font-size: xx-small;
    }
    @include mobile {
      display: none;
     
    }

}
  
