@use './js/scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;

  @include tablet {
    font-size: 80%;
  }

  @include mobile {
    font-size: 60%;
  }
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  background-color: $body-bg;
  color: $txt-bg;

  @include mobile {
    margin-bottom: 1rem;
  }
}

a {
  text-decoration: none;
  color: unset;
}


button,
input {
  outline: 0;
  border: 0;
}


ul {
  list-style-type: none;
}


.container {

  max-width: 1660px;
  margin: auto;
}

.mb-3 {
  min-height: auto;
  margin-bottom: 1rem;
  
}

.mb-2 {
  min-height: auto;
  margin-bottom: 1.5rem;
}

.section {
  padding: 0 .7rem;
}

.section__header {
  @include flex(center, center);
}

::-webkit-scrollbar {
  width: 7px;


}


/* Handle */
::-webkit-scrollbar-thumb {
  height: 5px;
  background: #dcdcdc;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;

  @include mobile {
    display: none;
  }

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}  
/* Enable hardware acceleration */
.scrollable-element {
  transform: translateZ(0);
}

