@use './js/scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.11);
}

html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.31);
  @include tablet {
    font-size: 75%;
  }

  @include mobile {
    font-size: 64%;
  }
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.11);
  font-family: $font-family;
  background: $black;
   color: white;

}

a {
  text-decoration: none;
 color: white;
}
button,
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.31);
  outline: 0;
  border: 0;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 1660px;
  margin: auto;
}

.mb-3 {
 // background-col;
  min-height: auto;
  //margin-bottom: 1rem;
  
}

.mb-2 {
  min-height: auto;
  margin-bottom: 1rem;
}

.section {
  padding: 0 .5rem;
}

.section__header {
  @include flex(center, center);
}

::-webkit-scrollbar {
   width: 1px;
   display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;

  @include mobile {
    display: none;
  }

}


/* Handle */
::-webkit-scrollbar-thumb {
  height: 5px;
  background: #1a1a1a;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}  
/* Enable hardware acceleration */

